<div class="h-100 d-flex flex-column">
  <div class="mb-3">
    <h2 class="mb-3 text-dcra-dark">Import Transactions</h2>
    <ul class="nav nav-tabs text-dcra">
      <li class="nav-item">
    <span
      (click)="activeTab = 'single'"
      class="nav-link"
      [ngClass]="activeTab === 'single' ? 'active' : ''">Single</span>
      </li>
      <li class="nav-item">
    <span
      (click)="activeTab = 'multiple'"
      class="nav-link"
      [ngClass]="activeTab === 'multiple' ? 'active' : ''">Import CSV</span>
      </li>
    </ul>
  </div>
  <ng-container *ngIf="activeTab === 'single'">
    <p *ngIf="transactionFormValue.ERROR" class="text-danger">{{transactionFormValue.ERROR}}</p>
    <div class="d-flex flex-row justify-content-center">
      <div class="flex-1">
        <h1 class="text-dcra mb-3">Enter Transaction Details</h1>
      </div>
      <div>
        <div class="text-muted-dark hover-50" (click)="autoFill()">
          <fa-icon [icon]="icons.auto"></fa-icon>
        </div>
      </div>
    </div>
    <div class="flex-1 overflow-y-auto">
      <ng-container *ngIf="formReady">
        <div class="form-row">
          <ng-container *ngFor="let input of transactionInputs">
            <div [ngClass]="'col-' + input.colW">
              <ng-container *ngIf="input.type === 'divider'">
                <hr class="border-top border-muted-dark mt-0">
              </ng-container>
              <div class="form-group bg-muted-dark p-2 rounded" *ngIf="input.type !== 'divider'">
                <label class="text-secondary font-weight-bold" [for]="input.key">{{input.label}}<sup *ngIf="input.required"> *</sup></label>
                <ng-container *ngIf="input.type === 'text'">
                  <input
                    [ngClass]="{'border-danger': input.error && (transactionFormValue[input.key] || input.required)}"
                    (change)="inputChange(input)"
                    [(ngModel)]="transactionFormValue[input.key]"
                    class="form-control" [type]="input.type" [id]="input.key">
                </ng-container>
                <ng-container *ngIf="input.type === 'number'">
                  <input
                    [(ngModel)]="transactionFormValue[input.key]"
                    class="form-control"
                    [ngClass]="{'border-danger': input.error && (transactionFormValue[input.key] || input.required)}"
                    (change)="inputChange(input)"
                    [min]="input.numberOptions ? input.numberOptions.min : null"
                    [max]="input.numberOptions ? input.numberOptions.max : null"
                    [step]="input.numberOptions ? input.numberOptions.step : null"
                    [type]="input.type" [id]="input.key">
                </ng-container>
                <ng-container *ngIf="input.type === 'autocomplete'">
                  <ng-container *ngIf="input.key !== 'GOODS_DESCRIPTION'">
                    <input
                      [ngClass]="{'border-danger': input.error && (transactionFormValue[input.key] || input.required)}"
                      (change)="inputChange(input)"
                      [(ngModel)]="transactionFormValue[input.key]"
                      class="form-control" type="text" [id]="input.key">
                  </ng-container>
                  <ng-container *ngIf="input.key === 'GOODS_DESCRIPTION'">
                    <input
                      [ngClass]="{'border-danger': input.error && (transactionFormValue[input.key] || input.required)}"
                      (change)="inputChange(input)"
                      [resultTemplate]="rt"
                      [(ngModel)]="transactionFormValue.GOODS_DESCRIPTION"
                      class="form-control" type="text" [id]="input.key" container="body"
                      [ngbTypeahead]="searchGoodsDescriptionsLocally"><!--[inputFormatter]="inputFormatter"-->
                      <ng-template #rt let-r="result" let-t="term">
                        <span class=""><!--{{probability(r)}} -->{{getHSCode(r)}} : </span>
                        <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
                      </ng-template>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="input.type === 'date'">
                  <input
                    [ngClass]="{'border-danger': input.error && (transactionFormValue[input.key] || input.required)}"
                    (change)="inputChange(input)"
                    [(ngModel)]="transactionFormValue[input.key]"
                    class="form-control" type="date" [id]="input.key">
                </ng-container>
                <ng-container *ngIf="input.type === 'select'">
                  <select
                    [ngClass]="{'border-danger': input.error && (transactionFormValue[input.key] || input.required)}"
                    (change)="inputChange(input)"
                    [(ngModel)]="transactionFormValue[input.key]"
                    class="form-control" [id]="input.key">
                    <ng-container *ngFor="let option of input.selectOptions">
                      <option>{{option}}</option>
                    </ng-container>
                  </select>
                </ng-container>
                <small class="text-danger" *ngIf="input.error && (transactionFormValue[input.key] || input.required)">{{input.error}}</small>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <!--<small class="text-dcra-dark mt-1" [innerHTML]="stillRequired() ? ('* Still requires ' + stillRequired()) : '&nbsp;'"></small>-->
    <div class="mt-1 border-top border-dcra-dark pt-3">
      <button
        [disabled]="!isFormValid"
        class="btn btn-block btn-dcra-dark" (click)="submit()">IMPORT</button>
    </div>
  </ng-container>
  <ng-container *ngIf="activeTab === 'multiple'">
    <div class="flex-1 negative-margin">
      <app-data-importer [dataType]="'transaction'" [initColumns]="columns"
                         (transactionsImported)="multipleImport($event)"></app-data-importer>
    </div>
  </ng-container>
</div>
