<div class="abs-fill bg-dcra-dark overflow-y-auto">
  <div class="component">
    <div class="max-width">
      <p class="text-muted-light mb-0">{{date | date: 'long'}}</p>
      <div class="position-relative mb-4">
        <h1 class="main-header text-light">
          <span>ATRiM&nbsp;</span>
          <span class="font-weight-light">OVERVIEW</span>
        </h1>
        <div class="add-button">
          <button class="btn btn-lg btn-dcra mr-2" (click)="showDataImporter = true">
            <fa-icon [icon]="icons.import"></fa-icon>
            Import Transaction(s)
          </button>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-lg btn-dcra mr-2" id="configDrop" ngbDropdownToggle>
              <fa-icon [icon]="icons.cog"></fa-icon>
            </button>
            <div
              ngbDropdownMenu aria-labelledby="configDrop"
              class="config-drop p-3 dropdown-menu dropdown-menu-right box-shadow-darker border-top border-dcra mt-2">
              <h5 class="text-dcra">
                Flag Parameters
              </h5>
              <div class="form-group">
                <h6 class="text-secondary">
                  Weightage
                </h6>
                <div class="rounded border bg-light p-2 mb-2">
                  <ngx-slider
                    [(value)]="config.weightage"
                    [options]="{floor: 0, ceil: 100, disabled: true}"></ngx-slider>
                  <div class="form-row text-muted">
                    <div class="col-auto">
                      <label>GINC</label>
                    </div>
                    <div class="col"></div>
                    <div class="col-auto">
                      <label>DEVH</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h6 class="text-secondary">
                  GINC Threshold
                </h6>
                <div class="rounded border bg-light p-2 mb-2">
                  <ngx-slider
                    [(value)]="config.ginc"
                    [options]="{floor: 0, ceil: 100, disabled: true}"></ngx-slider>
                </div>
              </div>
              <div class="form-group">
                <h6 class="text-secondary">
                  DEVH Threshold
                </h6>
                <div class="rounded border bg-light p-2 mb-2">
                  <ngx-slider
                    [(value)]="config.devh"
                    [options]="{floor: 0, ceil: 100, disabled: true}"></ngx-slider>
                </div>
              </div>
              <p class="text-dcra-dark mb-0">Under development.</p>
              <button disabled class="btn btn-block btn-dcra" (click)="reConfig()">RERUN FLAGS</button>
            </div>
          </div>
          <div class="d-inline-block">
            <button class="btn btn-lg btn-dcra" id="filterDrop" (click)="showFilter = true">
              <fa-icon [icon]="icons.filter"></fa-icon>
            </button>
            <div
              *ngIf="showFilter"
              class="d-flex flex-column filter-pop rounded-large bg-dcra box-shadow-darker border-left border-dcra-dark border-thicker m-3">
              <div class="p-3">
                <div class="close" (click)="showFilter = false">&times;</div>
                <h5 class="text-light form-inline">
                  FILTER
                </h5>
                <hr class="mb-0 border-top border-dcra-dark">
              </div>
              <div class="text-dark flex-1 p-3 overflow-y-auto">
                <div class="form-group">
                  <h6
                    (click)="collapseStatus.toggle()" [attr.aria-expanded]="!filter.status.collapsed"
                    class="text-muted-darker">
                    <fa-icon [icon]="icons.dn" [rotate]="filter.status.collapsed ? 270 : null"></fa-icon>
                    Status
                  </h6>
                  <div class="rounded border bg-light p-2" #collapseStatus="ngbCollapse"
                       [(ngbCollapse)]="filter.status.collapsed">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="status-unflagged"
                             [(ngModel)]="filter.status.unflagged">
                      <label class="form-check-label text-muted" for="status-unflagged">Un-flagged</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="status-flagged"
                             [(ngModel)]="filter.status.flagged">
                      <label
                        class="form-check-label text-muted" for="status-flagged">
                        Flagged
                      </label>
                      <div class="">
                        <div class="form-check form-check-inline">
                          <input type="checkbox" class="form-check-input" id="flag-ginc"
                                 [(ngModel)]="filter.flags.GINC">
                          <label class="form-check-label  text-muted font-weight-bold" for="flag-ginc">GINC</label>
                        </div>
                        <div class="rounded bg-muted-dark border p-2 mb-2">
                          <!--<div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="flag-ginc-any"
                                   [(ngModel)]="filter.flagProps.GINC.any">
                            <label class="form-check-label" for="flag-ginc-any">Any</label>
                          </div>-->
                          <div class="ml-2">
                            <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" id="flag-ginc-hscode"
                                     [disabled]="!filter.flags.GINC"
                                     [(ngModel)]="filter.flagProps.GINC.hsCode">
                              <label class="form-check-label" for="flag-ginc-hscode">HSCode Mismatch</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" id="flag-ginc-recency"
                                     [disabled]="!filter.flags.GINC"
                                     [(ngModel)]="filter.flagProps.GINC.recency">
                              <label class="form-check-label" for="flag-ginc-recency">Recency</label>
                            </div>
                          </div>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="checkbox" class="form-check-input" id="flag-devh"
                                 [(ngModel)]="filter.flags.DEVH">
                          <label class="form-check-label font-weight-bold text-muted" for="flag-devh">DEVH</label>
                        </div>
                        <div class="rounded bg-muted-dark border p-2 mb-2">
                          <!--<div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="flag-devh-any"
                                   [(ngModel)]="filter.flagProps.DEVH.any">
                            <label class="form-check-label" for="flag-devh-any">Any</label>
                          </div>-->
                          <div class="ml-2">
                            <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" id="flag-devh-amount"
                                     [disabled]="!filter.flags.DEVH"
                                     [(ngModel)]="filter.flagProps.DEVH.amount">
                              <label class="form-check-label" for="flag-devh-amount">Amount</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" id="flag-devh-qty"
                                     [disabled]="!filter.flags.DEVH"
                                     [(ngModel)]="filter.flagProps.DEVH.quantity">
                              <label class="form-check-label" for="flag-devh-qty">Quantity</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" id="flag-devh-price"
                                     [disabled]="!filter.flags.DEVH"
                                     [(ngModel)]="filter.flagProps.DEVH['unitprice']">
                              <label class="form-check-label" for="flag-devh-price">Unit Price</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" id="flag-devh-loading"
                                     [disabled]="!filter.flags.DEVH"
                                     [(ngModel)]="filter.flagProps.DEVH['port of loading']">
                              <label class="form-check-label" for="flag-devh-loading">Port of Loading</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" id="flag-devh-discharge"
                                     [disabled]="!filter.flags.DEVH"
                                     [(ngModel)]="filter.flagProps.DEVH['port of discharge']">
                              <label class="form-check-label" for="flag-devh-discharge">Port of Discharge</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="status-cleared"
                             [(ngModel)]="filter.status.cleared">
                      <label class="form-check-label" for="status-cleared">Cleared</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <h6
                    (click)="collapseRisk.toggle()" [attr.aria-expanded]="!filter.risk.collapsed"
                    class="text-muted-darker">
                    <fa-icon [icon]="icons.dn" [rotate]="filter.risk.collapsed ? 270 : null"></fa-icon>
                    Risk %
                  </h6>
                  <div #collapseRisk="ngbCollapse" [(ngbCollapse)]="filter.risk.collapsed">
                    <div
                      class="rounded border bg-light p-2 mb-2" *ngFor="let r of ['aggregated', 'GINC', 'DEVH']">
                      <div class="">
                        <label>{{r | uppercase}}</label>
                        <ngx-slider
                          [(value)]="filter.risk[r].from"
                          [(highValue)]="filter.risk[r].to"
                          [options]="{floor: filter.risk[r].floor, ceil: filter.risk[r].ceil}"></ngx-slider>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngFor="let prop of ['amount', 'unitPrice', 'quantity']">
                  <h6
                    (click)="collapse.toggle()" [attr.aria-expanded]="!filter[prop].collapsed"
                    class="text-muted-darker">
                    <fa-icon [icon]="icons.dn" [rotate]="filter[prop].collapsed ? 270 : null"></fa-icon>
                    {{prop | uppercase}} [Under Development]
                  </h6>
                  <div #collapse="ngbCollapse" [(ngbCollapse)]="filter[prop].collapsed">
                    <div
                      class="rounded border bg-light p-2 mb-3">
                      <div class="">
                        <!--<ngx-slider
                          [(value)]="filter[prop].from"
                          [(highValue)]="filter[prop].to"
                          [options]="{floor: filter[prop].floor, ceil: filter[prop].ceil}"></ngx-slider>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3">
                <hr class="mt-0 border-top border-dcra-dark">
                <div class="form-row">
                  <div class="col-9">
                    <button class="btn btn-dcra-dark btn-block" (click)="filterAll()">APPLY</button>
                  </div>
                  <div class="col-3">
                    <button class="btn btn-dark btn-block" (click)="resetFilter()"><fa-icon [icon]="icons.load"></fa-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <ng-container *ngFor="let m of topMetrics">
          <div class="col-3">
            <div
              class="rounded-large bg-white box-shadow-darker text-dcra border-top border-thicker border-dcra p-3 position-relative">
              <div class="form-row">
                <div class="col-2">
                  <h1 class="text-dcra text-center mt-3">
                    <fa-icon [icon]="icons[m]"></fa-icon>
                  </h1>
                </div>
                <div class="col-10">
                  <p class="font-weight-bold mb-0 text-muted">{{m | titlecase}}</p>
                  <h1 class="font-weight-light mb-0">{{topMetricVal[m]}}</h1>
                </div>
              </div>
              <div class="tools text-secondary border-bottom border-secondary hover-50">
                <p class="mb-0">all</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="border-top border-muted-light mb-3 mt-3"></div>
      <div class="row">
        <div class="col-4">
          <div class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3 mb-4">
            <h5 class="text-dcra">FLAGS</h5>
            <div class="chart-container-small">
              <ng-container *ngIf="flagsChart">
                <app-plotly-visual
                  [chart]="flagsChart"></app-plotly-visual>
              </ng-container>
            </div>
            <div class="tools text-secondary border-bottom border-secondary hover-50 mr-3">
              <p class="mb-0">all</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3 mb-4">
            <h5 class="text-dcra">GEO</h5>
            <div class="chart-container-small">
              <ng-container *ngIf="geoChart">
                <app-plotly-visual [chart]="geoChart"></app-plotly-visual>
              </ng-container>
            </div>
            <div class="tools text-secondary border-bottom border-secondary hover-50 mr-3">
              <p class="mb-0">all</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3 mb-4">
            <h5 class="text-dcra">TIMELINE</h5>
            <div class="chart-container-small">
              <ng-container *ngIf="timelineChart">
                <app-plotly-visual
                  [chart]="timelineChart"></app-plotly-visual>
              </ng-container>
            </div>
            <div class="tools text-secondary border-bottom border-secondary hover-50 mr-3">
              <p class="mb-0">all</p>
            </div>
          </div>
        </div>
        <!--<div class="col-12">
          <div class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3 mb-4">
            <h5 class="text-dcra">All Transactions</h5>
            <div class="overflow-auto">
              <table class="table table-striped">
                <thead>
                <tr>
                  <ng-container *ngFor="let c of allColumns">
                    <th>{{c | uppercase}}</th>
                  </ng-container>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let t of allTransactionsFromApi">
                  <ng-container *ngFor="let c of allColumns">
                    <td>{{t[c]}}</td>
                  </ng-container>
                </tr>
              </table>
            </div>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="12" [(page)]="page" [pageSize]="6">
              </ngb-pagination>
              <select class="custom-select" style="width: auto">
                <option [ngValue]="6">6 items per page</option>
                <option [ngValue]="10">10 items per page</option>
              </select>
            </div>
            <div class="tools text-secondary border-bottom border-secondary hover-50 mr-3">
              <p class="mb-0">all</p>
            </div>
          </div>
        </div>-->
        <div class="col-12">
          <div class="row">
            <div class="col">
              <div class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3">
                <div>
                  <h5 class="text-dcra form-inline">
                    <!--<select class="custom-select mr-2" [(ngModel)]="tableFilterStatus" (change)="filterTable()">
                      <option>ALL</option>
                      <option>FLAGGED</option>
                      <option>CLEARED</option>
                      <option>BLOCKED</option>
                    </select>-->
                    TRANSACTIONS
                    <span
                      class="d-inline-block ml-2 pl-2 pb-1 pt-1 pr-2 rounded bg-dcra-dark text-light small">{{getProcessed()}}
                      / {{filteredTransactions.length}} processed</span>
                  </h5>
                  <app-transactions-table
                    (editThis)="editTransaction($event)"
                    [transactions]="filteredTransactions"></app-transactions-table>
                </div>
                <div class="tools text-secondary mr-3">
                  <span class="border-bottom border-secondary hover-50">all</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-12">
          <div class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3">
            <div>
              <p>{{transactionsString}}</p>
            </div>
            <div class="tools text-secondary mr-3">
              <span class="border-bottom border-secondary hover-50">all</span>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div ngbDropdown class="demo-features position-absolute top right">
    <button
      class="btn btn-outline-primary btn-sm"
      id="demo-features"
      ngbDropdownToggle>Demo
      <fa-icon [icon]="icons.cog"></fa-icon>
    </button>
    <div ngbDropdownMenu aria-labelledby="demo-features">
      <button ngbDropdownItem (click)="clearLocal()">Clear Saved Data and Reset</button>
      <!--<button ngbDropdownItem (click)="loadPresetFlags()">Load Pre-Processed Test Data</button>-->
      <button ngbDropdownItem (click)="reRunTestFlags()">Load Test Data and Re-Process</button>
    </div>
  </div>
</div>

<div class="abs-fill bg-muted-darker" *ngIf="showDataImporter">
  <div
    class="bg-white rounded-large importer-container abs-fill p-4 border-top border-thicker border-dcra box-shadow-darker">
    <app-transaction-import (transactionImported)="transactionImported($event)" [transactionFormValue]="transactionToEditAsForm"></app-transaction-import>
    <div class="position-absolute close top right" (click)="showDataImporter = false">&times;</div>
  </div>
</div>

<div>
  <app-aml-menu></app-aml-menu>
</div>
