.tools {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.component {
  margin: 2rem 6rem;
  .main-header {
    font-size: 6rem
  }
}
.max-width {
  max-width: 1920px;
  margin: 0 auto;
}
.chart-container-small {
  height: 18rem;
}
.chart-container-large {
  height: 34rem;
}
.importer-container {
  z-index: 3;
  /*width: 40rem;
  left: auto;*/
  left: 10rem;
  right: 10rem;
  top: 10rem;
  bottom: 10rem;
}
.add-button {
  position: absolute;
  right: 0;
  top: 2rem;
}
.demo-features {
  top: 1rem;
  right: 1rem;
  div {
    font-size: 0.8rem;
  }
}
.config-drop {
  width: 20rem;
}
.filter-pop {
  position: fixed;
  right: 2rem;
  top: 1rem;
  bottom: 1rem;
  width: 24rem;
  z-index: 10;
}
