.component {
  padding: 4rem;
}
#yearSelect {
  width: 6rem;
}
h1.page-title {
  font-size: 8rem;
  .logo {
    img {
      height: 8rem;
      margin-top: -2rem
    }
  }
}
.user-img {
  border: 0.25rem solid white;
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.full-height {
  height: 41.5rem;
}
.half-height {
  height: 18rem;
}
.qtr-height {
  height: 30rem;
}
table {
  width: 100%;
  tr {
    &.highlight {
      background: repeating-linear-gradient(
          135deg,
          rgba(0,0,0,0),
          rgba(0,0,0,0) 0.5rem,
          rgba(0,0,0,0.05) 0.5rem,
          rgba(0,0,0,0.05) 1rem
      );
    }
  }
}
.tag {
  font-size: 0.9rem
}
.importer-container {
  z-index: 2;
  top: 10rem;
  left: 10rem;
  right: 10rem;
  bottom: 10rem;
}
.loading-parent {
  padding-top: 20rem;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.fading {
  opacity: 1;
}
.faded {
  opacity: 0;
}
