<div class="abs-fill bg-dcra-dark component overflow-y-auto">
  <div class="m-3">
    <h1 class="page-title text-light mb-2">
      <span class="d-inline-block logo">
        <img src="assets/images/logo.svg" alt="">
      </span>
      DCRA</h1>
    <h5 class="text-light mt-4 mb-0">
      <span class="d-inline-block rounded-50 user-img mr-2">
        <img [src]="'assets/images/users/' + (activeUser.image || activeUser.email) + '.png'" alt="">
      </span>
      Welcome, {{activeUser.email}} <span class="hover-50" (click)="logOut()">(<u>log out</u>)</span>
    </h5>
  </div>
  <div class="m-3">
    <div class="border border-muted-light mb-3"></div>

    <div class="form-inline mb-3">

      <!--<div class="form-check text-right">
        <input class="mr-2" type="checkbox" [(ngModel)]="showLatest" (change)="prepareMasterList()" id="toggle-check">
        <label class="form-check-label text-dcra font-weight-bold" for="toggle-check">Latest Only</label>
      </div>&nbsp; | &nbsp;-->
      <!--<label class="my-1 mr-2" for="yearSelect">Year</label>
      <input disabled class="form-control-sm my-1 mr-sm-2" id="yearSelect" [(ngModel)]="fiscalYear">
       |&nbsp;
      <label class="my-1 mr-2" for="monthSelect">Month</label>
      <select disabled class="custom-select custom-select-sm my-1 mr-sm-2" id="monthSelect" [(ngModel)]="fiscalMonth">
        <ng-container *ngFor="let month of months, let m = index">
          <option [value]="(m+1)">{{month}}</option>
        </ng-container>
      </select>-->
      Latest: <b>{{fiscalYear}} {{months[fiscalMonth-1]}}</b><!-- |&nbsp;<button class="btn btn-sm btn-dcra ml-1" (click)="initFromApi()">APPLY</button>-->
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 p-4 rounded-large bg-white position-relative box-shadow-darker">
          <div class="dcra-thickness-top"></div>
          <div class="d-flex flex-column qtr-height position-relative">
            <div class="">
              <h5 class="text-dcra-dark mb-3 font-weight-light">
                <fa-icon [icon]="icons['Pending Review']"></fa-icon>&nbsp;
                Pending
              </h5>
              <div class="border-dcra-gradient thin"></div>
            </div>
            <div class="flex-1">
              <div class="h-100 overflow-x-auto">
                <table class="table table-striped">
                  <thead>
                  <tr class="text-secondary">
                    <td class="" *ngFor="let key of pendingColumns" (click)="sort(myPendingList, key, 'pending')">{{key}}</td>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let item of myPendingList, let i = index">
                    <tr class="">
                      <ng-container *ngFor="let key of pendingColumns">

                        <th class="text-dark" *ngIf="key === 'CIF'">
                          <p class="mt-2 mb-2 pt-1 pb-1">
                            <a class="hover-50 text-dcra-dark"
                               [href]="'cif/' + item[key] + '/' + item.id "><b>{{item[key]}}</b></a>
                          </p>
                        </th>
                        <td class="text-dark" *ngIf="key === 'Created'">
                          <p class="mt-2 mb-2 pt-1 pb-1">{{item[key] | date: 'short'}}
                          </p>
                        </td>
                        <td class="text-dark" *ngIf="key !== 'CIF' && key !== 'Created'">
                          <p class="mt-2 mb-2 pt-1 pb-1">{{item[key]}}
                          </p>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
                <ng-container *ngIf="!myPendingList.length">
                  <p class="text-secondary">No CIFs with pending reviews.</p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-4 p-4 rounded-large bg-white position-relative box-shadow-darker">
          <div class="dcra-thickness-top"></div>
          <div class="d-flex flex-column qtr-height position-relative">
            <div class="">
              <h5 class="text-dcra-dark mb-3 font-weight-light">
                <fa-icon [icon]="icons['My Reviews']"></fa-icon>&nbsp;
                My Reviews
              </h5>
              <div class="border-dcra-gradient thin"></div>
            </div>
            <div class="flex-1">
              <div class="h-100 overflow-x-auto">
                <table class="table table-striped">
                  <thead>
                  <tr class="text-secondary">
                    <td class="" *ngFor="let key of overrideColumns" (click)="sort(myOverridesList, key, 'overrides')">{{key}}</td>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let item of myOverridesList, let i = index">
                    <tr class="">
                      <ng-container *ngFor="let key of overrideColumns">
                        <th class="text-dark" *ngIf="key === 'CIF'">
                          <p class="mt-2 mb-2 pt-1 pb-1">
                            <a class="hover-50 text-dcra-dark"
                               [href]="'cif/' + item[key] + '/' + item.id "><b>{{item[key]}}</b></a>
                          </p>
                        </th>
                        <td class="text-dark" *ngIf="key === 'Updated'">
                          <p class="mt-2 mb-2 pt-1 pb-1">{{item[key] | date: 'short'}}
                          </p>
                        </td>
                        <td class="text-dark" *ngIf="key !== 'CIF' && key !== 'Updated'">
                          <p class="mt-2 mb-2 pt-1 pb-1">{{item[key]}}
                          </p>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
                <ng-container *ngIf="!myOverridesList.length">
                  <p class="text-secondary">No reviews available.</p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="border border-muted-light"></div>
    <div class="mb-4"></div>
    <div class="row">
      <div class="col-md-4">
        <div class="mb-4 p-4 rounded-large bg-white position-relative box-shadow-darker">
          <div class="dcra-thickness-top"></div>
          <div class="d-flex flex-column half-height position-relative">
            <div class="">
              <h5 class="text-dcra-dark mb-3 font-weight-light">
                <fa-icon [icon]="icons.pie"></fa-icon>&nbsp;
                Grading Change
              </h5>
              <div class="border-dcra-gradient thin"></div>
            </div>
            <div class="flex-1">
              <ng-container *ngIf="changeChart">
                <app-plotly-visual
                  (clickEvent)="chartClicked('change', $event)"
                  (hoverEvent)="chartHovered('change', $event)"
                  [chart]="changeChart"></app-plotly-visual>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="p-2"></div>
        <div class="mb-4 p-4 rounded-large bg-white position-relative box-shadow-darker">
          <div class="dcra-thickness-top"></div>
          <div class="d-flex flex-column half-height position-relative">
            <div class="">
              <h5 class="text-dcra-dark mb-3 font-weight-light">
                <fa-icon [icon]="icons.pie"></fa-icon>&nbsp;
                Recommended Grading
              </h5>
              <div class="border-dcra-gradient thin"></div>
            </div>
            <div class="flex-1">
              <ng-container *ngIf="ratingsChart">
                <app-plotly-visual
                  (clickEvent)="chartClicked('grading', $event)"
                  (hoverEvent)="chartHovered('grading', $event)"
                  [chart]="ratingsChart"></app-plotly-visual>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="mb-4 p-4 rounded-large bg-white position-relative box-shadow-darker">
          <div class="dcra-thickness-top"></div>
          <div class="d-flex flex-column full-height position-relative">
            <div class="form-row">
              <div class="col-8">
                <h5 class="text-dcra-dark mb-3 font-weight-light">
                  <fa-icon [icon]="icons.company"></fa-icon>&nbsp;
                  All Gradings
                  <!--<span
                    class="tag pl-2 pr-2 pt-1 pb-1 font-weight-bold rounded bg-dcra text-light mr-2"
                    *ngIf="clickedGrade">grade: {{clickedGrade}}
                    <span class="hover-50" (click)="clickedGrade = null">&times;</span>
                  </span>
                  <span
                    class="tag pl-2 pr-2 pt-1 pb-1 font-weight-bold rounded bg-dcra text-light mr-2"
                    *ngIf="clickedChange">change: {{clickedChange}}
                    <span class="hover-50" (click)="clickedChange = null">&times;</span>
                  </span>-->
                </h5>
              </div>
            </div>
            <div class="filters text-dcra-dark">
              <div class="border-dcra-gradient thin"></div>
            </div>
            <div class="flex-1">
              <div class="h-100 d-flex flex-column">
                <div class="text-secondary border-bottom">
                  <div class="d-flex flex-row">
                    <div class="col">
                      <p class="mt-2 mb-2 pt-1 pb-1">&nbsp;</p>
                      <div class="mt-2 mb-2 pt-1 pb-1">
                        <!--<select class="custom-select custom-select-sm">
                          <option selected>&#45;&#45;</option>
                          <option class="text-danger">&#9873;</option>
                          <option class="text-dcra">&#9872;</option>
                        </select>-->
                        <input type="checkbox" [(ngModel)]="filters.flagged">
                      </div>
                    </div>
                    <div class="col">
                      <p class="mt-2 mb-1 pt-1 pb-1">Company</p>
                      <div class="mt-1 mb-2 pt-1 pb-1">
                        <input
                          [(ngModel)]="filters.name"
                          class="form-control form-control-sm" placeholder="company name">
                      </div>
                    </div>
                    <div class="col">
                      <p class="mt-2 mb-1 pt-1 pb-1">Year</p>
                      <div class="mt-1 mb-2 pt-1 pb-1">
                        <input
                          [(ngModel)]="filters.year"
                          class="form-control form-control-sm" placeholder="year">
                      </div>
                    </div>
                    <div class="col">
                      <p class="mt-2 mb-1 pt-1 pb-1">Month</p>
                      <div class="mt-1 mb-2 pt-1 pb-1">
                        <select
                          [(ngModel)]="filters.month"
                          class="custom-select custom-select-sm">
                          <option [value]="0">ALL</option>
                          <ng-container *ngFor="let m of months, let i = index">
                            <option [value]="i+1">{{m}}</option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                    <ng-container *ngFor="let rating of ['previous', 'recommended', 'final']">
                      <div class="col">
                        <p class="mt-2 mb-1 pt-1 pb-1">{{rating | titlecase}}</p>
                        <div class="mt-1 mb-2 pt-1 pb-1">
                          <select
                            [(ngModel)]="filters[rating]"
                            class="custom-select custom-select-sm">
                            <option>ALL</option>
                            <option>1.PASS</option>
                            <option>2.SM</option>
                            <option>3.SS</option>
                            <option>4.DF</option>
                            <option>5.FAIL</option>
                          </select>
                        </div>
                      </div>
                    </ng-container>
                    <!--<div class="col-2">
                      <p class="mt-2 mb-2 pt-1 pb-1">Recommended</p>
                      <div class="mt-2 mb-2 pt-1 pb-1">
                        <select
                          [(ngModel)]="clickedGrade"
                          class="custom-select custom-select-sm">
                          <option [value]="undefined">ALL</option>
                          <option>1.PASS</option>
                          <option>2.SM</option>
                          <option>3.SS</option>
                          <option>4.DF</option>
                          <option>5.FAIL</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <p class="mt-2 mb-2 pt-1 pb-1">Review</p>
                      <div class="mt-2 mb-2 pt-1 pb-1">
                        <select
                          [(ngModel)]="clickedGrade"
                          class="custom-select custom-select-sm">
                          <option [value]="undefined">ALL</option>
                          <option>1.PASS</option>
                          <option>2.SM</option>
                          <option>3.SS</option>
                          <option>4.DF</option>
                          <option>5.FAIL</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <p class="mt-2 mb-2 pt-1 pb-1">Final</p>
                      <div class="mt-2 mb-2 pt-1 pb-1">
                        <select
                          [(ngModel)]="clickedGrade"
                          class="custom-select custom-select-sm">
                          <option [value]="undefined">ALL</option>
                          <option>1.PASS</option>
                          <option>2.SM</option>
                          <option>3.SS</option>
                          <option>4.DF</option>
                          <option>5.FAIL</option>
                        </select>
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="flex-1 overflow-auto">
                  <ng-container *ngFor="let company of filteredCompanies, let i = index">
                    <div class="border-bottom" *ngIf="showCompany(company)">
                      <div class="d-flex flex-row" [ngClass]="highlightCompany(company) ? 'highlight' : ''">
                        <div class="col">
                          <p class="mt-2 mb-2 pt-1 pb-1">
                            <a *ngIf="company.flagged"
                              class="text-danger hover-50" [href]="'ew/' + company.cif">
                              <fa-icon [icon]="icons.flag"></fa-icon>
                            </a>
                            <a *ngIf="!company.flagged"
                               class="text-dcra">
                              <fa-icon [icon]="icons.flag2"></fa-icon>
                            </a>
                          </p>
                        </div>
                        <div class="text-dcra-dark col">
                          <p class="mt-2 mb-2 pt-1 pb-1">
                            <a class="hover-50 text-dcra-dark"
                               [href]="'cif/' + company.cif"><b>{{company.cif}}</b></a>
                          </p>
                        </div>
                        <div class="text-dcra-dark col">
                          <p class="mt-2 mb-2 pt-1 pb-1">
                            {{company.fiscalYear}}
                          </p>
                        </div>
                        <div class="text-dcra-dark col">
                          <p class="mt-2 mb-2 pt-1 pb-1">
                            {{months[company.fiscalMonth-1]}}
                          </p>
                        </div>
                        <div class="text-dcra col"
                             *ngFor="let key of ['previous', 'recommended', 'final']">
                          <ng-container *ngIf="company.gradings[key]">
                            <p class="mt-2 mb-2 pt-1 pb-1">
                              <span>
                                <b>{{company.gradings[key]}}</b>
                              </span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <!--<div class="">
              <div class="border-dcra-gradient thin mb-2"></div>
              <button
                class="btn btn-block bg-dcra-dark"
                (click)="showDataImporter = true">
                <fa-icon [icon]="icons.table"></fa-icon>
                Import Company Data
              </button>
            </div>-->
            <ng-container *ngIf="loading">
              <div class="abs-fill bg-white loading-parent" [ngClass]="loaderClass">
                <div class="text-center">
                  <app-loader color="#27ABE2"></app-loader>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!--<ng-container *ngFor="let list of lists">
        <div
          [ngClass]="list.name === 'Pending Review' ? 'bg-light border-top border-dcra' : 'bg-light border-top border-dcra'"
          class="flex-1 text-light m-3 p-3 d-flex flex-column">
          <div class="m-3">
            <h5 class="text-dcra-dark mb-4 font-weight-light">
              <fa-icon [icon]="icons[list.name]"></fa-icon>&nbsp;
              {{list.name}}</h5>
            <div class="border-dcra-gradient thin"></div>
          </div>
          <div class="flex-1 overflow-auto" *ngIf="list.items">
            <ng-container *ngFor="let item of list.items">
              <div class="p-3">
                <div class="d-flex flex-row">
                  <div class="flex-1">
                    <a
                      class="hover-50" [href]="'/dcra/' + item.id"
                      [ngClass]="list.name === 'Pending Review' ? 'text-dcra' : 'text-dcra'">
                      <h2 class="">
                        <span class="mr-2"><fa-icon [icon]="icons.company"></fa-icon></span> {{item.label}}
                      </h2>
                    </a>
                  </div>
                  <div class="">
                    <a
                      class="hover-50" [href]="'/ew/' + item.id"
                      [ngClass]="list.name === 'Pending Review' ? 'text-dcra' : 'text-dcra'">
                      <h2 class="">
                        <fa-icon [icon]="item.flagged ? icons.flag : icons.flag2"></fa-icon>
                      </h2>
                    </a>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>-->
    </div>
  </div>
  <!--<button class="btn btn-sm close position-absolute top right"
          (click)="resetData()"
          ngbPopover="reset data" triggers="mouseenter:mouseleave">
    <fa-icon [icon]="icons.reset"></fa-icon>
  </button>-->
</div>
<div class="abs-fill bg-muted-dark" *ngIf="showDataImporter">
  <div class="bg-white importer-container abs-fill p-3">
    <app-data-importer (companiesImported)="addCompany($event)"></app-data-importer>
    <div class="position-absolute close top right" (click)="showDataImporter = false">&times;</div>
  </div>
</div>
