.menu {
  transition: width 0.5s;
  width: 4rem;
  z-index: 10000;
  right: auto;
  &.open {
    width: 24rem;
    box-shadow: rgba(0,0,0,0.5) 10rem 0 50rem;
  }
}
.icons {
  right: auto;
  width: 4rem;
  .icon {
    font-size: 2rem;
  }
}
.list {
  left: 4rem;
  width: 20rem;
  right: auto;
}
.closer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}
