<div class="menu abs-fill overflow-hidden" [ngClass]="{'open bg-dark': activeItem}">
  <div class="closer" *ngIf="activeItem" (click)="activeItem = null"></div>
  <div class="icons p-2 abs-fill">
    <div class="icon p-2 cursor-pointer hover-50">
      <a class="text-decoration-none text-light" [href]="'/aml'">
        <fa-icon [icon]="icons.home"></fa-icon>
      </a>
    </div>
    <ng-container *ngFor="let item of menuItems">
      <div
        (click)="openList(item)"
        class="icon p-2 cursor-pointer hover-50 text-light"
        [ngClass]="{'text-muted-light': activeItem === item}">
        <fa-icon [icon]="icons[item]"></fa-icon>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="activeItem === 'list'">
    <div class="list abs-fill p-4">
      <p class="text-muted-light">COMPANIES</p>
      <hr class="border-top border-muted-light">
      <ng-container *ngFor="let company of companies">
        <div class="form-row text-light">
          <div class="col-6">
            <h4>
              <a class="text-dcra text-decoration-none" [href]="'/aml/' + company.id">{{company.id}}</a>
            </h4>
          </div>
          <div class="col-3">
            <p class="mt-1">
              <span class="text-dcra mr-2"><fa-icon [icon]="icons.arrows"></fa-icon></span> {{company.transactions.length}}
            </p>
          </div>
          <div class="col-3">
            <p class="mt-1">
              <span class="text-danger mr-2"><fa-icon [icon]="icons.flag"></fa-icon></span> {{company.flags.length}}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <!--<div class="bg-fill abs-fill bg-dark"></div>-->
</div>
