<div class="h-100" #chartContainer (window:resize)="onResize()">
  <ng-container *ngIf="chartReady">
    <plotly-plot
      [data]="chart.data" [layout]="chart.layout" [config]="{responsive: true, displayModeBar: false}"
      (hover)="hovered($event)"
      (unhover)="unHover($event)"
      (plotlyClick)="clicked($event)"></plotly-plot>
  </ng-container>
</div>
