<div
  [ngClass]="open ? 'bg-dcra-gradient' : 'bg-dark'"
  class="h-100 position-relative d-flex flex-row">
  <div class="menu d-flex flex-column h-100 text-center">
    <div class="">
      <a class="d-block logo p-3 hover-50" href="">
        <img src="assets/images/logo.svg" alt="DCRA">
      </a>
    </div>
    <!--<div class="">
      <div class="text-light p-3 hover-50" (click)="open = !open">
        <h3 class="mb-0">
          <fa-icon [icon]="icons.list"></fa-icon>
        </h3>
      </div>
    </div>-->
    <div class="">
      <div
        [ngbPopover]="userPop"
        placement="right"
        container="body"
        class="text-light p-3 hover-50">
        <h3 class="mb-0">
          <fa-icon [icon]="icons.user"></fa-icon>
        </h3>
      </div>
    </div>
  </div>
  <div *ngIf="open" class="list-panel mt-3 mr-3 mb-3 ml-0 rounded bg-white d-flex flex-column p-4">
    <ng-container *ngIf="list">
      <div class="list-title text-secondary">
        <p>Companies</p>
      </div>
      <div class="flex-1 overflow-auto">
        <div *ngFor="let item of list" class="overflow-hidden">
          <div class="border-top border-muted-dark mb-3"></div>
          <div class="mb-3">
            <div class="row">
              <div class="col-12">
                <h5 class="text-dcra-dark">
                  <a
                    [ngClass]="item.flagged ? 'text-danger' : 'text-dcra'"
                    class="hover-50" [href]="'ew/' + item.cif">
                    <fa-icon [icon]="item.flagged ? icons.flag : icons.flag2"></fa-icon>
                  </a>
                  <span class="text-dcra-dark col-3">
                  <a class="hover-50 text-dcra-dark" [href]="item.cif">{{item.name}}</a>
                </span>
                </h5>
              </div>
              <div class="text-dcra col-4">
                <ng-container *ngIf="item.gradings.recommended">
                    <span [ngClass]="item.gradings.recommended.rejected ? 'strike-through' : ''">
                      {{item.gradings.recommended.value}}
                    </span></ng-container>
              </div>
              <div class="text-dcra col-2"><span>&gt;</span></div>
              <div class="text-dcra col-4">
                <ng-container *ngIf="item.gradings.review">
                    <span [ngClass]="item.gradings.review.rejected ? 'strike-through' : ''">
                      {{item.gradings.review.value}}
                    </span></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div
      (click)="open = false"
      class="position-absolute close top right p-2 mr-2">&times;
    </div>
  </div>
</div>
<ng-template class="" #userPop>
  <p class="m-2 hover-50" (click)="logOut()">Log out</p>
</ng-template>
