<!--
<div class="d-flex flex-column p-3 h-100">
  <div class="flex-1">
    <ngx-graph
      *ngIf="ready"
      layout="colaForceDirected"
      [links]="links"
      [nodes]="nodes"
      [center$]="center$"
      [zoomToFit$]="zoomToFit$">
      <ng-template #defsTemplate>
        <svg>
          <marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto"
                  fill="#ccc">
            <path d="M0,-5L10,0L0,5" class="arrow-head"/>
          </marker>
        </svg>
      </ng-template>

      <ng-template #nodeTemplate let-node>
        <svg class="node-svg hover-50"
             overflow="visible"
             (dblclick)="click(node)"
             [attr.height]="100"
             [attr.width]="300">
          <g class="node">
            <circle
              [attr.r]="node.data.size"
              [attr.cx]="50"
              [attr.cy]="50"
              [attr.stroke]="'#007bff'"
              [attr.fill]="getNodeType(node) === 'cluster' ? '#007bff' : '#ffffff'"
              stroke-width="2"
            />
            <g [attr.opacity]="0.5" [attr.transform]="'translate(40,40)'">
              <image [attr.width]="20" [attr.height]="20"
                     [attr.xlink:href]="'assets/images/icons/' + icons[getNodeClass(node) || 'generic'] + '.svg'"/>
            </g>
            <ng-container *ngIf="getNodeType(node) === 'source'">
              <text text-anchor="middle" [attr.x]="50" [attr.y]="100" font-weight="bold" font-size="1.2rem"
                    [innerHTML]="node.label">
              </text>
            </ng-container>
            <ng-container *ngIf="getNodeType(node) === 'cluster'">
              <text text-anchor="middle" [attr.x]="50" [attr.y]="100">{{getNodeRelation(node)}}
              </text>
              <text text-anchor="middle" [attr.x]="50" [attr.y]="120" font-weight="bold" [innerHTML]="node.label">
              </text>
            </ng-container>
            <ng-container *ngIf="getNodeType(node) === 'cluster-instance'">
              <text text-anchor="middle" [attr.x]="50" [attr.y]="90" font-weight="bold" [innerHTML]="node.label">
              </text>
            </ng-container>
            <ng-container *ngIf="getNodeType(node) === 'instance'">
              <text text-anchor="middle" [attr.x]="50" [attr.y]="90">
                {{getNodeRelation(node)}}
              </text>
              <text text-anchor="middle" [attr.x]="50" [attr.y]="110" font-weight="bold" [innerHTML]="node.label">
              </text>
            </ng-container>
          </g>
        </svg>
        <ng-template #linkTemplate let-link>
          <svg class="edge-svg">
            <g class="edge">
              <path class="line" stroke-width="2" marker-end="url(#arrow)" stroke="#ccc" color="#ccc"></path>
              <text class="edge-label" text-anchor="middle">
                <textPath class="text-path" [attr.href]="'#' + link.id"
                          [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                  {{ link.label }}
                </textPath>
              </text>
              &lt;!&ndash;<text class="edge-label" text-anchor="middle">
                <textPath
                  class="text-path"
                  [attr.href]="'#' + link.id"
                  [style.dominant-baseline]="link.dominantBaseline"
                  startOffset="50%"
                >
                  {{link.label}}
                </textPath>
              </text>&ndash;&gt;
            </g>
          </svg>
        </ng-template>
      </ng-template>
    </ngx-graph>
  </div>
</div>
-->
<div class="row">
  <div class="col-8">
    <div class="border rounded-large bg-white p-3 position-relative box-shadow">
      <div class="dcra-thickness-top"></div>
      <div class="position-relative">
        <!--<p class="text-dcra">Network</p>-->
        <div class="form-inline">
          <label for="" class="my-1 mr-2">Network</label>
          <!--<select class="custom-select my-1 mr-sm-2" id="network-type" [(ngModel)]="graphType">
            <option value="NgxGraph">NgxGraph</option>
            <option value="Cytoscape">Cytoscape</option>
          </select>-->
        </div>
        <div class="chart-container">
          <ng-container *ngIf="ready">
            <ng-container *ngIf="graphType === 'NgxGraph'">
              <app-visual-network
                (NodeClicked)="NodeClicked($event)"
                [network]="{nodes: nodes, links: links}"></app-visual-network>
            </ng-container>
            <ng-container *ngIf="graphType === 'Cytoscape'">
              <ng-container *ngIf="cytoElements">
              <app-cyto-network [u]="8" [elements]="cytoElements"></app-cyto-network>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="border rounded-large bg-white p-3 position-relative box-shadow">
      <div class="dcra-thickness-top"></div>
      <div class="position-relative">
        <p class="text-dcra">List</p>
        <div class="chart-container overflow-y-auto">
          <ng-container *ngFor="let rel of relations">
            <div class="mb-3">
              <h6
                (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed[rel.relation.id]"
                aria-controls="collapseExample"
                class="text-secondary hover-50">
                <fa-icon [icon]="icons.chevron" [rotate]="isCollapsed[rel.relation.id] ? 270 : null"></fa-icon>
                {{rel.relation.label || rel.relation.id}}</h6>
              <div
                #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed[rel.relation.id]"
                class="rounded bg-muted-dark mb-3">
                <div class="p-1">
                  <ng-container *ngFor="let val of rel.values">
                    <h5 class="hover-50 text-dcra-dark m-3">{{val.label || val.id}}</h5>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
