<div class="abs-fill bg-dcra-dark text-light">
  <div class="component rounded border border-light p-4">
    <div class="p-4 bg-dcra-dark title position-absolute text-light"><h4>D C R A</h4></div>
    <div class="form-group">
      <label for="username" class="">Username</label>
      <input [(ngModel)]="username" type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password" class="">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="stay-logged-in">
      <label class="form-check-label" for="stay-logged-in">Stay logged in</label>
    </div>
    <button type="submit" class="btn btn-dcra btn-block" (click)="serverLogin()">LOGIN</button>
  </div>
</div>


