.component {
  padding: 2rem;
  background-color: #e9ecef !important;

  .heading {
    h1 {

      button {
        margin-top: -1rem;
      }
    }
  }

  .saving {
    opacity: 0;
    transition: opacity 1s;

    &.visible {
      opacity: 1;
    }
  }

}

.comments-btn {
  right: 0;
  top: 0;
  bottom: 0;

  .btn {
    width: 10rem;
    right: -0.25rem;
    margin-top: -25%;
    top: 50%;
    position: absolute;
  }
}

.comment-box {
  left: auto;
  width: 32rem;
  box-shadow: rgb(0,0,0,0.4) -1rem 0 20rem;
}

.close {
  top: 0.5rem;
  right: 0.5rem;
}


.dcra-nav {
  display: flex;
  flex-direction: row;
  overflow: visible;

  .dcra-nav-item {
    flex: 1 1 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: -2rem;

    a {
      display: block;
      padding: 0.5rem 1rem;
      background-color: #ffffff;
      font-size: 1.1rem;
      border: rgba(0, 0, 0, 0.1) solid 0.05rem;
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.5s;
    }

    &:not(.active) {
      a {
        color: #27ABE2;
        border-bottom: #27ABE2 solid 0.25rem;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &.active {
      // border-left: #29357F solid 2px;
      // border-right: #29357F solid 2px;

      a {
        color: #29357F;
        border-bottom: #29357F solid 0.25rem;
      }

      &:after {
        margin-left: calc(50% - 0.25rem);
        position: relative;
        top: 0.25rem;
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.5rem solid #29357F;
        content: ' ';
      }
    }
  }
}
