<div class="abs-fill d-flex flex-row overflow-hidden">
  <div class="h-100">
    <app-menu></app-menu>
  </div>
  <div
    [ngClass]="theme === 'dark' ? 'bg-dcra-dark' : 'bg-light'"
    class="flex-1 component overflow-y-auto">
    <div class="max-width">
      <div class="heading mb-4">
        <h1 class="text-dcra">
        <span
          [ngClass]="theme === 'dark' ? 'text-light' : 'text-dcra-dark'"
          class="font-weight-light">DCRA Grading / </span>{{company.name}}
        </h1>
        <div class="border-groove"></div>
        <!--<div class="form-inline mb-3">
          <label class="my-1 mr-2" for="yearSelect">Year</label>
          <select disabled class="custom-select custom-select-sm my-1 mr-sm-2" id="yearSelect" [(ngModel)]="fiscalYear">
            <ng-container *ngFor="let year of years">
              <option>{{year}}</option>
            </ng-container>
          </select> |&nbsp;
          <label class="my-1 mr-2" for="monthSelect">Month</label>
          <select disabled class="custom-select custom-select-sm my-1 mr-sm-2" id="monthSelect" [(ngModel)]="fiscalMonth">>
            <ng-container *ngFor="let month of months, let m = index">
              <option [value]="m+1">{{month}}</option>
            </ng-container>
          </select> |&nbsp;<button disabled class="btn btn-sm btn-dcra ml-1" (click)="getCompanyFromApi()">Load</button>
        </div>-->
        <p class="text-secondary mb-2">
          Latest: <b class="text-capitalize">{{months[fiscalMonth - 1]}} {{fiscalYear}}</b>
        </p>
      </div>
      <div class="ratings mb-3">
        <div class="row">
          <ng-container *ngFor="let grade of gradings">
            <div class="col-3"><!--
              <app-grading-box
                (gradingUpdated)="gradingUpdated($event, grade.grade)"
                [canAssign]="grade.reviewedBy === currentUser.userRole && gradingAllowed"
                [canReview]="grade.judgedBy === currentUser.userRole && !!company.gradings[grade.grade]"
                [type]="grade.grade"
                [grade]="company.gradings[grade.grade]"></app-grading-box>-->
                <app-grading-box
                  (gradingUpdated)="gradingUpdated($event, grade.type, saveWarning)"
                  [canAssign]="canAssign"
                  [canApprove]="canApprove"
                  [overrideData]="grade.type === 'review' ? overrideData : null"
                  [type]="grade.type"
                  [grade]="company.gradings[grade.type]"></app-grading-box>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="border-groove"></div>
      <div class="border-muted-dark pt-2">
        <!--<button [disabled]="!updated" class="btn btn-sm btn-dark mr-2 mb-2" (click)="saveCompanyToLocalStorage()">
          <fa-icon [icon]="faSave"></fa-icon>
          Save Changes
        </button>
        <button [disabled]="!updated" class="btn btn-sm btn-dark mr-2 mb-2" (click)="undoUpdates()">
          <fa-icon [icon]="faUndo"></fa-icon>
          Reset
        </button>
        <span class="mr-2">|</span>-->
        <button
          [disabled]="!company.flagged"
          [ngClass]="company.flagged ? 'btn-danger' : 'btn-success'"
          class="btn btn-sm mr-2 mb-2">
          <a *ngIf="company.flagged"
            class="text-decoration-none text-white" [href]="'ew/' + company.cif">
            <fa-icon [icon]="faFlag"></fa-icon>
            <span class="ml-2"></span> Early Warning
            <fa-icon [icon]="faLink" class="mr-2"></fa-icon>
          </a>
          <a *ngIf="!company.flagged"
             class="text-decoration-none text-white">
            <fa-icon [icon]="faNoFlag"></fa-icon>
            <span class="ml-2">No Early Warning</span>
          </a>
        </button>
        <ng-container *ngIf="company && company.gradings && company.gradings.final">
          <span class="mr-2">|</span>
          <button
            class="btn btn-sm btn-dcra mr-2 mb-2" (click)="openModal(report)">
            <fa-icon [icon]="faNewspaper" class="mr-2"></fa-icon> Generate Report
          </button>
        </ng-container>
        <span class="mr-2">|</span>
        <button [disabled]="!this.overrideData" class="btn btn-sm btn-dcra mr-2 mb-2" (click)="toggleComments()">
          <fa-icon [icon]="faComments" class="mr-2"></fa-icon> Review History
        </button>
      </div>
      <div class="border-groove mb-3"></div>
      <div class="tabs mb-4">
        <div class="dcra-nav">
          <ng-container *ngFor="let tab of tabs">
            <div
              [ngClass]="{'active' : activeTab === tab}"
              class="dcra-nav-item">
              <a
                (click)="activeTab = tab"
                class="nav-link">
                <fa-icon [icon]="tabsToIcons[tab]" class="mr-2"></fa-icon>
                {{tab}}</a>
            </div>
          </ng-container>
          <!--<div class="dcra-nav-item">
            <a [href]="'ew/' + company.id"
               class="nav-link">
              <fa-icon [icon]="faFlag" class="mr-2"></fa-icon>
              Early Warning Dashboard
              <fa-icon [icon]="faLink" class="mr-2"></fa-icon>
            </a>
          </div>-->
        </div>
      </div>
      <div class="p-1"></div>
      <div class="">
        <ng-container *ngIf="activeTab === 'grading review'">
          <!--<app-grading-review-ui [gradingCategories]="company.gradingReview"></app-grading-review-ui>-->
          <app-grading-review-ui [companyId]="company.cif"></app-grading-review-ui>
        </ng-container>
        <ng-container *ngIf="activeTab === 'current exposure'">
          <!--<app-current-exposure-ui [exposureData]="company.currentExposure"></app-current-exposure-ui>-->
          <app-current-exposure-ui [companyId]="company.cif"></app-current-exposure-ui>
        </ng-container>
        <ng-container *ngIf="activeTab === 'news'">
          <app-news-reader [companyId]="company.cif"></app-news-reader>
        </ng-container>
        <ng-container *ngIf="activeTab === 'explore'">
          <app-company-relations [relations]="company.relations" [company]="company.name"></app-company-relations>
        </ng-container>
        <ng-container *ngIf="activeTab === 'dashboard'">
          <app-company-dashboard [company]="company" [companies]="companies"></app-company-dashboard>
        </ng-container>
      </div>
      <!--<div class="close position-absolute top right">
        <span class="saving text-dcra" [ngClass]="{'visible' : saving}">saving </span>
        <button (click)="deleteCompanyFromLocalStorage()" class="btn btn-sm btn-dark">
          <fa-icon [icon]="faRestore"></fa-icon>
        </button>
      </div>-->
    </div>
  </div>
</div>
<!--<div class="close position-absolute top right mr-2">
  <button class="btn btn-sm"
          (click)="resetData()"
          ngbPopover="reset data" triggers="mouseenter:mouseleave">
    <fa-icon [icon]="faUndo"></fa-icon>
  </button>
</div>-->
<!--<div class="position-fixed comments-btn" *ngIf="!showComments">
  <button [disabled]="!this.overrideData" class="btn btn-dcra btn-lg" (click)="toggleComments()">
    <fa-icon [icon]="faStar"></fa-icon> <fa-icon [icon]="faComments"></fa-icon>
  </button>
</div>-->
<div class="abs-fill comment-box" *ngIf="showComments">
  <div class="bg-dcra h-100">
    <app-comment-box
      [currentUser]="currentUser"
      [override]="this.overrideData"></app-comment-box>
    <div class="close position-absolute" (click)="toggleComments()">&times;</div>
  </div>
</div>

<ng-template #saveWarning let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-dcra-dark" id="modal-basic-title">
      <ng-container *ngIf="overrideAction === 'cancel' || overrideAction === 'reject'">
        {{overrideAction | uppercase}}: <span class="strike-through">{{company.gradings.review}}</span>
      </ng-container>
      <ng-container *ngIf="overrideAction === 'approve'">
        APPROVE: <span><fa-icon [icon]="faApprove"></fa-icon> {{company.gradings.review}}</span>
      </ng-container>
      <ng-container *ngIf="overrideAction !== 'cancel' && overrideAction !== 'approve' && overrideAction !== 'reject' ">
        OVERRIDE: <span class="strike-through">{{lastReviewScore || company.gradings.recommended}}</span> ->
        <span>{{company.gradings.review}}</span>
      </ng-container>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross Click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Remarks</label>
    <textarea autofocus class="form-control" [(ngModel)]="gradingOverrideComment"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dcra-dark btn-block" (click)="modal.close('override')">SUBMIT</button>
  </div>
</ng-template>


<ng-template #report let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-report-title">Generate Report</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="form-row">
        <div class="col-4">
          <label>
            Year
          </label>
          <select class="form-control" [(ngModel)]="reportInputs.fiscal_year">
            <ng-container *ngFor="let y of years, let i = index">
              <option [value]="y">
                {{y}}
              </option>
            </ng-container>
          </select>
        </div>
        <div class="col-4">
          <label>
            Month
          </label>
          <select class="form-control" [(ngModel)]="reportInputs.fiscal_month">
            <ng-container *ngFor="let m of months, let i = index">
              <option [value]="i+1">
                {{m}}
              </option>
            </ng-container>
          </select>
        </div>
        <div class="col-4">
          <label>
            &nbsp;
          </label>
          <button class="btn btn-dcra btn-block" (click)="generateReport()">
            Generate
          </button>
        </div>
      </div>
    </div>
    <h4 class="text-center font-weight-light text-dcra-dark mb-0" *ngIf="reportStatus">{{reportStatus}}</h4>
  </div>
  <div class="modal-footer">
    <a class="d-block w-100 text-decoration-none" [href]="'http://220.24.52.14/' + reportLink" target="_blank" [download]="reportFileName">
      <button [disabled]="!reportLink" type="button" class="btn btn-dcra-dark btn-block">Download</button>
    </a>
    <small>If you are unable to download, try right click and "save as".</small>
  </div>
</ng-template>
<app-loader [color]="'#ffffff'" *ngIf="submittingOverride" [fs]="true"></app-loader>
