
<div class="form-row">
  <ng-container *ngFor="let input of inputs">
    <div [ngClass]="'col-' + input.colW">
      <ng-container *ngIf="input.type === 'divider'">
        <hr class="border-top border-muted-dark mt-0">
      </ng-container>
      <div class="form-group bg-muted-dark p-2 rounded" *ngIf="input.type !== 'divider'">
        <label class="text-secondary font-weight-bold" [for]="input.key">{{input.label}}<sup *ngIf="input.required"> *</sup></label>
        <ng-container *ngIf="input.type === 'text'">
          <input
            [(ngModel)]="value[input.key]"
            class="form-control" [type]="input.type" [id]="input.key">
        </ng-container>
        <ng-container *ngIf="input.type === 'number'">
          <input
            [(ngModel)]="value[input.key]"
            class="form-control"
            [ngClass]="{'border-danger': input.valid === false}"
            [min]="input.numberOptions ? input.numberOptions.min : null"
            [max]="input.numberOptions ? input.numberOptions.max : null"
            [step]="input.numberOptions ? input.numberOptions.step : null"
            [type]="input.type" [id]="input.key">
          <small class="text-danger" *ngIf="input.valid === false && input.error">{{input.error}}</small>
        </ng-container>
        <ng-container *ngIf="input.type === 'autocomplete'">
          <ng-container *ngIf="input.key !== 'GOODS_DESCRIPTION'">
            <input
              [(ngModel)]="value[input.key]"
              class="form-control" type="text" [id]="input.key">
          </ng-container>
          <ng-container *ngIf="input.key === 'GOODS_DESCRIPTION'">
            <input
              [resultTemplate]="rt"
              [(ngModel)]="value[input.key]"
              class="form-control" type="text" [id]="input.key"
              [ngbTypeahead]="input.typeAheadOptions.typeAhead"><!--[inputFormatter]="inputFormatter"-->
            <ng-template #rt let-r="result" let-t="term">
              <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="input.type === 'date'">
          <input
            [(ngModel)]="value[input.key]"
            class="form-control" type="date" [id]="input.key">
        </ng-container>
        <ng-container *ngIf="input.type === 'select'">
          <select
            [(ngModel)]="value[input.key]"
            class="form-control" [id]="input.key">
            <ng-container *ngFor="let option of input.selectOptions">
              <option>{{option}}</option>
            </ng-container>
          </select>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
