.icon {
  font-size: 2.5rem;
}

input {
  font-size: 2.5rem;
  width: 100%;
  border: 1px dotted;
  background: none;
}

#gradingDropdown.btn-group {
  width: 100%;
  .btn {
    font-size: 1.5rem !important;
  }
}

.button-group {
  justify-content: center;

  button {
    display: block;
  }
}
.grade-box {
  border-top: 0.25rem solid rgba(255,255,255,0.5);
}
.audit-box {
  width: 100%;
  max-height: 48rem;
}
