<div
  [ngClass]="(type !== 'review' || (!canApprove && !canAssign)) ? 'bg-dcra-dark text-light ' : 'bg-white text-dcra border'"
  class="d-flex flex-row p-2 rounded-large box-shadow grade-box">
  <div class="icon p-3">
    <fa-icon [icon]="iconMap[type]"></fa-icon>
  </div>
  <div class="flex-1 pt-2 pr-2">
    <label
      [ngClass]="!canAssign ? 'text-muted-lighter' : 'text-dcra'"
      class="font-weight-bold mb-0">{{type | titlecase}}</label>
    <ng-container *ngIf="type !== 'review' || (!canApprove && !canAssign)">
      <ng-container *ngIf="grade">
        <h1
          ngbPopover="Last updated by..."
          popoverTitle="History"
          container="body"
          triggers="mouseenter:mouseleave"
          class="font-weight-light">{{grade || '--'}}</h1>
      </ng-container>
      <ng-container *ngIf="!grade">
        <h1 class="font-weight-light">--</h1>
      </ng-container>
    </ng-container>
    <!--<div ngbDropdown class="d-block">
      <button class="btn btn-outline-primary text-left" id="gradingDropdown" ngbDropdownToggle>{{grade.value || 'assign'}}</button>
      <div ngbDropdownMenu aria-labelledby="gradingDropdown">
        <ng-container *ngFor="let option of gradingOptions">
          <button ngbDropdownItem (click)="updateGrading(option)">{{option}}</button>
        </ng-container>
      </div>
    </div>-->
    <div *ngIf="type === 'review' && (canApprove || canAssign)">
      <div class="btn-group mr-3" id="gradingDropdown">
        <button type="button" class="btn btn-dcra text-left">{{grade || 'assign'}}</button>
        <div class="btn-group" ngbDropdown role="group" aria-label="" container="body">
          <button class="btn btn-dcra dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <ng-container *ngIf="canApprove">
              <button ngbDropdownItem (click)="updateGrading('approve')">
                <fa-icon class="text-dcra" [icon]="faThumbsUp"></fa-icon>
                Approve
              </button>
              <div class="dropdown-divider" *ngIf="canAssign"></div>
              <!--<button ngbDropdownItem (click)="updateGrading('reject')">
                <fa-icon class="text-dcra" [icon]="faThumbsDown"></fa-icon>
                reject
              </button>-->
            </ng-container>
            <ng-container *ngIf="canAssign">
              <h6 class="dropdown-header">ASSIGN new grading</h6>
              <ng-container *ngFor="let option of gradingOptions">
                <button ngbDropdownItem (click)="updateGrading(option)">{{option}}</button>
              </ng-container>
            </ng-container>
            <!--<ng-container
              *ngIf="overrideData && (overrideData.createdBy === currentUser.email && status === 'Awaiting')">
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="updateGrading('cancel')">
                <fa-icon class="text-dcra" [icon]="faCancel"></fa-icon>
                cancel
              </button>
            </ng-container>-->
          </div>
        </div>
      </div>
    </div>
    <!--<input id="grading-input" class="text-dcra" type="text" [(ngModel)]="grade.value" [readOnly]="!canAssign"
           (change)="updateGrading(grade.value)">-->
  </div>
  <!--<div class="p-1 button-group d-flex flex-column" *ngIf="canReview">
    <div class="p-1">
      <button class="btn btn-dcra btn-sm">
        <fa-icon [icon]="faThumbsUp" (click)="updateGrading('approve')"></fa-icon>
      </button>
    </div>
    <div class="p-1">
      <button class="btn btn-dcra btn-sm">
        <fa-icon [icon]="faThumbsDown" (click)="updateGrading('reject')"></fa-icon>
      </button>
    </div>
  </div>-->
  <!--<div class="p-1 button-group d-flex flex-column" *ngIf="overrideData">
    <button class="btn btn-dcra-dark btn-lg mt-4" [ngbPopover]="overrideLog" [container]="'body'" placement="bottom">
      <fa-icon [icon]="faList"></fa-icon>
    </button>
  </div>-->
</div>

<ng-template #overrideLog>
  <div class="p-2 audit-box">
    <ng-container *ngFor="let log of overrideData.auditLog">
      <p class="text-secondary mb-0">{{log.modifiedBy || 'unknown'}}</p>
      <div class="p-2 border rounded mb-2 bg-light audit-comment">
        <h6>
          <span class="text-dcra">{{log.finalizedMasGrading}}[{{log.status}}] </span> <span class="font-weight-light">{{log.justification}}</span>
        </h6>
      </div>
    </ng-container>
  </div>
</ng-template>
