<div *ngIf="!fs" class="lds-dual-ring" [ngStyle]="{'width': size + 'rem', 'height': size + 'rem'}">
  <div class="child" [ngStyle]="{
    'border': size * 0.1  + 'rem solid #fff',
    'border-color': color + ' rgba(0,0,0,0.2) ' + color + ' rgba(0,0,0,0.2)'
  }"></div>
</div>
<div *ngIf="fs" class="position-fixed abs-fill bg-muted-dark-deep d-flex align-items-center justify-content-center">
  <div class="lds-dual-ring" [ngStyle]="{'width': '10rem', 'height': '10rem'}">
    <div class="child" [ngStyle]="{
    'border': '0.5rem solid #fff',
    'border-color': color + ' rgba(0,0,0,0.2)'
  }"></div>
  </div>
</div>
