<div class="">
  <div class="b-3">
    <div class="tools mb-3 border-dcra">
      <!--<p>sort by
        <select>
          <option>latest</option>
        </select>
      </p>-->
      <div class="form-inline mb-2">
        <label class="mr-2" for="sort">Sort by</label>
        <select class="custom-select custom-select-sm my-1 mr-sm-2" id="sort">
          <option selected>latest</option>
          <option>source</option>
        </select>
         |
        <label class="sr-only" for="inlineFormInputName2">Filter</label>
        <input type="text" class="form-control form-control-sm ml-2 mr-sm-2" id="inlineFormInputName2" placeholder="flag, news site etc">
        <button type="submit" class="btn btn-dcra-dark btn-sm my-1">filter</button>
      </div>
    </div>
    <div class="border-groove mb-3"></div>
    <ng-container *ngFor="let item of news">
      <div class="bg-white rounded-large pt-2 pl-4 pr-4 mb-4 position-relative box-shadow">
        <div class="dcra-thickness-top"></div>
      <div class="row position-relative">
        <div class="col-8">
          <div class="pt-2 pb-2 preview">
            <p class="text-secondary font-weight-bold mb-0">{{item.date}} | {{item.source}}</p>
            <h1 class="font-weight-light">
              <a
                target="_blank" [href]="item.sourceUrl"
                class="text-dcra hover-50">{{item.title}}</a>
            </h1>
            <p>{{item.preview}}</p>
          </div>
        </div>
        <div class="col-4">
          <div class="p-4 flags text-light">
            <div class="d-inline-block rounded mr-2 mb-2 pt-2 pb-2 pl-3 pr-3 hover-50" [ngClass]="'bg-' + flag" *ngFor="let flag of item.flags">
              <fa-icon [icon]="icons.flag"></fa-icon>
            </div>
            <div class="d-inline-block rounded mr-2 mb-2 pt-2 pb-2 pl-3 pr-3 bg-dark hover-50" *ngFor="let tag of item.tags">
              {{tag}}
            </div>
          </div>
        </div>
      </div>
      </div>
    </ng-container>
  </div>
</div>
