<div class="container">
  <h1 class="text-dcra m-2">Network Demo</h1>
  <div class="mb-3">
    <div class="form-row">
      <div class="col">
        <div class="m-2">
          <label>Add Node</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Node Title" aria-label="Node Title"
                   aria-describedby="add-node">
            <div class="input-group-append">
              <button class="btn btn-dcra-dark" type="button" id="add-node">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="m-2">
          <label>Mode</label>
          <div class="mb-3">
            <div class="dropdown">
              <button
                class="btn btn-dcra-dark dropdown-toggle mr-2"
                type="button" id="layoutBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Layout
              </button>
              <div class="dropdown-menu" aria-labelledby="layoutBtn">
                <a class="dropdown-item">Grid</a>
                <a class="dropdown-item">Auto</a>
                <a class="dropdown-item">Tree</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<button class="btn btn-dcra-dark m-2">Add Node</button>
      <button class="btn btn-dcra-dark m-2">Add Relation</button>
      <div class="dropdown d-inline-block m-2">
        <button class="btn btn-dcra-dark dropdown-toggle mr-2" type="button" id="layoutBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Layout
        </button>
        <div class="dropdown-menu" aria-labelledby="layoutBtn">
          <a class="dropdown-item">Grid</a>
          <a class="dropdown-item">Auto</a>
          <a class="dropdown-item">Tree</a>
        </div>
      </div>-->
      <div class="border-bottom border-muted-dark m-2"></div>
    </div>
    <div class="border-top border-thick border-dcra rounded m-2 box-shadow graph-container position-relative">
      <app-cyto-network></app-cyto-network>
    </div>
  </div>
</div>
