.time-select {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.company {
  transition: all 0.3s;
  .spacer {
    margin: 2rem 2rem 2rem 6rem;
  }
  .main-header {
    font-size: 6rem
  }
}
.transactions {
  transition: all 0.3s;
}
.max-width {
  max-width: 1920px;
  margin: 0 auto;
}
.chart-container-mini {
  height: 10rem;
}
.chart-container-small {
  height: 18rem;
}
.chart-container-large {
  height: 34rem;
}

.importer-container {
  z-index: 3;
  /*width: 40rem;
  left: auto;*/
  left: 10rem;
  right: 10rem;
  top: 10rem;
  bottom: 10rem;
}
.add-button {
  position: absolute;
  right: 2rem;
  top: 6rem;
}
.circle {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  transition: all 0.3s;
  .check {
    top: 1.5rem;
    left: -1em;
    border-radius: 2rem;
    font-size: 0.9rem;
    transition: all 0.3s;
  }
  &:hover {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
    .check {
      top: 2rem;
    }
  }
}
