<div class="abs-fill bg-dcra-dark d-flex flex-row">
  <div class="company bg-dcra-dark overflow-y-auto flex-2">
    <ngx-simplebar [options]="{autoHide: false}" class="h-100">
      <div class="spacer">
        <p class="text-muted-light mb-0">{{date | date: 'long'}}</p>
        <h1 class="main-header text-light mb-4">
          <span>{{company.name}}</span>
          <span class="font-weight-light"></span>
        </h1>
        <!--<div class="add-button">
          <button class="btn btn-lg btn-dcra" (click)="showDataImporter = true">
            <fa-icon [icon]="icons.upload"></fa-icon>
            Import Transaction(s)
          </button>
        </div>-->
        <div class="row mb-4">
          <ng-container *ngFor="let m of topMetrics, let i = index">
            <div class="col-3">
              <div
                class="rounded-large bg-white box-shadow-darker text-dcra border-top border-thicker border-dcra p-3 position-relative h-100">
                <div class="form-row">
                  <div class="col-3">
                    <h1 class="text-dcra text-left mt-3">
                      <fa-icon [icon]="icons[m.icon]"></fa-icon>
                    </h1>
                  </div>
                  <div class="col-9">
                    <p
                      [ngbPopover]="m.long" container="body" triggers="mouseenter:mouseleave"
                      class="font-weight-bold mb-0 text-muted">{{m.short}}</p>
                    <h1 class="font-weight-light mb-0">{{m.count}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="nav nav-tabs nav-dcra nav-fill mb-4">
          <li class="nav-item">
            <span class="nav-link cursor-pointer" [ngClass]="{'active' : activeTab === 'dashboard'}"
                  (click)="activeTab = 'dashboard'">Dashboard</span>
          </li>
          <li class="nav-item">
            <span class="nav-link cursor-pointer" [ngClass]="{'active' : activeTab === 'details'}"
                  (click)="activeTab = 'details'">Company Details</span>
          </li>
          <li class="nav-item">
            <span class="nav-link cursor-pointer">News</span>
          </li>
        </div>
        <div class="details" *ngIf="activeTab === 'details'">
          <div class="d-flex flex-row">
            <div class="flex-1 mr-4">
              <div>
                <h6 class="text-white-50">Name</h6>
                <p class="text-white">{{company.name}}</p>
                <hr class="border-top border-muted-light mb-2">
              </div>
              <div>
                <h6 class="text-white-50">UEN</h6>
                <p class="text-white">{{company.id}}</p>
                <hr class="border-top border-muted-light mb-2">
              </div>
              <div>
                <h6 class="text-white-50">SSIC</h6>
                <p class="text-white">46619 - WHOLESALE OF SOLID, LIQUID AND GASEOUS FUELS AND RELATED PRODUCTS N.E.C.
                  (EG BITUMEN)</p>
                <div class="bg-white p-3 rounded">
                  <h6 class="text-secondary">Associated Products</h6>
                  <div
                    *ngFor="let g of goods"
                    class="bg-dcra pl-2 pr-2 d-inline-block mr-2 mb-2 rounded">
                    {{g}}
                  </div>
                </div>
                <hr class="border-top border-muted-light mb-2">
              </div>
              <div>
                <h6 class="text-white-50">SSIC2</h6>
                <p class="text-white">NA</p>
                <hr class="border-top border-muted-light mb-2">
              </div>
              <div>
                <h6 class="text-white-50">Country</h6>
                <p class="text-white">{{company.country}}</p>
                <hr class="border-top border-muted-light mb-2">
              </div>
              <div>
                <h6 class="text-white-50">AFN</h6>
                <p class="text-white">{{company.id}}</p>
                <hr class="border-top border-muted-light mb-2">
              </div>
            </div>
            <div class="flex-2">
              <div class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3 mb-4">
                <h5 class="text-dcra">Relations</h5>
                <div class="chart-container-large position-relative">
                  <ng-container *ngIf="cytoElements">
                    <app-cyto-network [elements]="cytoElements"></app-cyto-network>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard" *ngIf="activeTab === 'dashboard'">
          <div class="row">
            <ng-container *ngFor="let chart of charts">
              <ng-container>
                <div [ngClass]="'col-' + chart.w">
                  <div class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3 mb-4">
                    <h5 class="text-dcra form-inline">
                      <ng-container *ngIf="chart.type === 'scatter'">
                        <select
                          [(ngModel)]="chart.y"
                          class="form-control ml-2 mr-2 p-1">
                          <option *ngFor="let prop of numProps" [value]="prop.key">{{prop.label}}</option>
                        </select>
                      </ng-container>
                      <ng-container *ngIf="chart.type !== 'scatter'">
                        <select
                          (change)="createChart(chart)"
                          [(ngModel)]="chart.y"
                          class="form-control ml-2 mr-2 p-1">
                          <option value="COUNT">TRANSACTIONS</option>
                          <option disabled value="VOLUME">VOLUME</option>
                        </select>
                      </ng-container>
                      PER
                      <select
                        (change)="createChart(chart)"
                        [(ngModel)]="chart.x"
                        class="form-control ml-2 mr-2 p-1">
                        <option *ngFor="let prop of (chart.type === 'pie' ? stringProps : numProps)"
                                [value]="prop.key">{{prop.label}}</option>
                      </select>
                    </h5>
                    <div [ngClass]="'chart-container-' + chart.h">
                      <ng-container *ngIf="chart.chart">
                        <app-plotly-visual [chart]="chart.chart"
                                           (clickEvent)="chartClicked(chart, $event)"></app-plotly-visual>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="news"></div>
      </div>
    </ngx-simplebar>
  </div>
  <div
    [ngClass]="'flex-' + (activeDisplay === 'list' ? '1' : '2')"
    class="transactions bg-dcra overflow-y-auto p-4">
    <div class=""></div>
    <div class="p-4">
      <h1 class="text-light mb-0">
        <span class="mr-3">Transactions</span>
        <span class="font-weight-light"></span>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dcra-dark" id="select-display" ngbDropdownToggle>{{activeDisplay}}</button>
          <div ngbDropdownMenu aria-labelledby="select-display">
            <button ngbDropdownItem (click)="changeDisplay('table')">table</button>
            <button ngbDropdownItem (click)="changeDisplay('list')">list</button>
          </div>
        </div>
      </h1>
      <hr class="border-top border-light">
      <div class="mb-3">
        <button class="btn btn-sm btn-dcra-dark mr-2">
          <fa-icon [icon]="icons.pin"></fa-icon>
          pin
        </button>
        <button class="btn btn-sm btn-dcra-dark">
          <fa-icon [icon]="icons.stop"></fa-icon>
          block all
        </button>
      </div>
      <div
        class="rounded-large bg-white box-shadow-darker border-top border-dcra-dark border-thicker p-3 mb-4 position-relative">
        <h5 class="text-dcra">TIMELINE</h5>
        <div class="chart-container-mini">
          <ng-container *ngIf="timeline">
            <app-plotly-visual
              [chart]="timeline"></app-plotly-visual>
          </ng-container>
        </div>
        <div class="time-select text-secondary border-bottom border-secondary hover-50 mr-3">
          <p class="mb-0">12h</p>
        </div>
      </div>
      <hr class="border-top border-light mb-3">
      <!-- list -->
      <button class="btn btn-dcra-dark btn-sm mr-2" (click)="selectAll(true)">Select All</button>
      <button class="btn btn-dcra-dark btn-sm mr-2" (click)="selectAll(false)">Deselect All</button>
      <hr class="border-top border-light">
      <div
        *ngIf="activeDisplay === 'list'"
        class="mb-4 position-relative">
        <ng-container *ngFor="let tr of company.transactions, let  i = index">
          <div class="position-relative">
            <div class="d-flex flex-row">
              <div class="pt-1">
                <div
                  (click)="transactionSelected(tr)"
                  class="circle bg-dark text-center position-relative">
                  <div
                    [ngClass]="'text-' + (tr.risk >= 10 ? (tr.risk >= 60 ? 'danger' : 'warning') : 'dcra')">
                    <fa-icon [icon]="icons[tr.status === 'flagged' ? 'flag' : 'transaction']"></fa-icon>
                  </div>
                  <div
                    [ngClass]="'bg-' + (tr.risk >= 10 ? (tr.risk >= 60 ? 'danger' : 'warning') : 'dcra-dark')"
                    class="position-absolute check pl-2 pr-2" *ngIf="tr.selected">
                    <fa-icon [icon]="icons.check"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="flex-grow-1">
                <div
                  class="bg-light rounded-large p-3 border-top border-dcra-dark border-thick box-shadow mb-3 d-flex flex-row align-items-center">
                  <div class="flex-1">
                    <p class="text-muted-darker font-weight-bold mb-0">{{tr.registeredDate | date: 'dd-MM-YYYY'}} | Min
                      No. {{tr.minNo}}</p>
                    <h4 class="text-dcra mb-0">
                      {{tr.currency}} {{tr.amount}}
                      <ng-container *ngFor="let f of tr.flags">
                        <div
                          container="body"
                          ngbDropdown class="d-inline-block mr-2">
                          <button
                            [ngClass]="'btn-' + (f.cleared ? 'success' : 'danger')"
                            class="btn btn-sm" id="flag-drop" ngbDropdownToggle>
                            <span [ngClass]="{'strike-through': f.cleared}" [innerHTML]="f.key"></span>
                          </button>
                          <div
                            ngbDropdownMenu
                            aria-labelledby="flag-drop"
                            class="bg-dark text-light p-3 rounded"
                            style="width: 25rem"><!--min-width: 25rem; max-width: 60rem-->
                            <ng-container *ngIf="!tr.reporting">
                              <div class="form-row">
                                <div class="col-3">
                                  <h5 class="text-warning">
                                    <fa-icon [icon]="icons.flag"></fa-icon>
                                    {{f.risk | number: '1.0-2'}}%
                                  </h5>
                                </div>
                                <div class="col-9">
                                  <h5>{{f.label}}</h5>
                                  <ng-container *ngIf="f.breakdown">
                                    <ng-container *ngFor="let br of f.breakdown">
                                      <hr class="border-top border-muted-light mt-1 mb-1">
                                      <div class="form-row">
                                        <div class="col-3">
                                          <p class="text-warning font-weight-bold mb-1">
                                            <fa-icon [icon]="icons.flag"></fa-icon>
                                            {{br.risk | number: '1.0-2'}}%
                                          </p>
                                        </div>
                                        <div class="col-9">
                                          <p class="mb-1">
                                            <span class="">{{br.key}}</span>:
                                            <span class="mb-1 font-weight-normal" [innerHTML]="br.label"></span>
                                          </p>
                                        </div>
                                      </div>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </h4>
                  </div>
                  <div
                    (click)="collapsed[i] = !collapsed[i]"
                    class="hover-50 btn btn-sm btn-dcra-dark">
                    <fa-icon [icon]="icons.toggle" [rotate]="collapsed[i] ? null : 90"></fa-icon>
                  </div>
                </div>
                <div class="p-3 rounded-large mb-3 bg-dcra-dark box-shadow" [(ngbCollapse)]="!collapsed[i]">
                  <app-transaction [transaction]="tr"></app-transaction>
                </div>
              </div>
            </div>

          </div>
        </ng-container>
      </div>
      <!-- table -->
      <div
        *ngIf="activeDisplay === 'table'"
        class="rounded-large bg-white box-shadow-darker border-top border-dcra border-thicker p-3">
        <div class="overflow-auto">
          <h5 class="text-dcra form-inline">
            TRANSACTIONS
          </h5>
          <app-transactions-table
            (selected)="selectionChange($event)" [selectable]="true" [columns]="columns"
            [transactions]="company.transactions"></app-transactions-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-aml-menu></app-aml-menu>
</div>
<!--<div class="abs-fill bg-muted-darker" *ngIf="showDataImporter">
  <div
    class="bg-white rounded-large importer-container abs-fill p-4 border-top border-thicker border-dcra box-shadow-darker">
    <app-transaction-import
      [transactionFormValue]="transactionFormValue"></app-transaction-import>
    <div class="position-absolute close top right" (click)="showDataImporter = false">&times;</div>
  </div>
</div>-->
