<div
  class=""
  [ngStyle]="{'width': full ? 'auto' : '25rem'}"><!--min-width: 25rem; max-width: 60rem-->
  <div *ngIf="!t.reporting">
    <div class="form-row">
      <div class="col-3">
        <h5 class="text-warning">
          <fa-icon [icon]="icons.dblUp"></fa-icon>
          {{f.risk | number: '1.0-2'}}%
        </h5>
      </div>
      <div class="col-9">
        <h5>{{f.label}}</h5>
        <ng-container *ngIf="f.breakdown">
          <ng-container *ngFor="let br of f.breakdown">
            <hr class="border-top border-muted-light mt-1 mb-1">
            <div class="form-row">
              <div class="col-3">
                <p class="text-warning font-weight-bold mb-1">
                  <fa-icon [icon]="icons.dblUp"></fa-icon>
                  {{br.risk | number: '1.0-2'}}%
                </p>
              </div>
              <div class="col-9">
                <p class="mb-1">
                  <span class="">{{br.key}}</span>:
                  <span class="mb-1 font-weight-normal" [innerHTML]="br.label"></span>
                </p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="t.status === 'flagged' && !f.cleared">
      <div class="border-top border-muted-light mb-2 mt-2"></div>
      <div class="btns mb-2">
        <div class="form-row">
          <div class="col">
            <button
              class="btn btn-block btn-sm mr-2 btn-success text-ellipsis" (click)="t.reporting = 'clear'">
              <fa-icon [icon]="icons.thumbsUp"></fa-icon> Clear Flag
            </button>
          </div>
          <div class="col">
            <button
              ngbPopover="block all transactions for this CCIF" triggers="mouseenter:mouseleave"
              class="btn btn-block btn-sm mr-2 btn-danger text-ellipsis" (click)="t.reporting = 'block'">
              <fa-icon [icon]="icons.block"></fa-icon> block All Transactions
            </button>
          </div>
        </div>
        <!--<button
          class="btn btn-sm mr-2 btn-warning text-light">
          <fa-icon [icon]="icons.saved"></fa-icon>
        </button>-->
      </div>
    </ng-container>
    <ng-container *ngFor="let comment of f.comments">
      <div class="p-2 mb-2 rounded">
        <div class="d-flex flex-row">
          <p class="mb-0 mr-2">
            <ng-container *ngIf="t.status === 'blocked'">
              <fa-icon [icon]="icons.blocked"></fa-icon>
            </ng-container>
            <ng-container *ngIf="t.status !== 'blocked'">
              <ng-container *ngIf="f.cleared">
                <fa-icon [icon]="icons.cleared"></fa-icon>
              </ng-container>
            </ng-container>
          </p>
          <p class="mb-0 flex-1"><span class="text-muted-lighter">user1:</span> {{comment}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="comment-box" *ngIf="t.reporting">
    <div class="rounded mb-3 p-2"
         [ngClass]="t.reporting === 'block' ? 'bg-danger' : 'bg-success'">
      <fa-icon [icon]="t.reporting === 'block' ? icons.block : icons.thumbsUp"></fa-icon>
      {{t.reporting === 'block' ? 'block All Transactions' : 'Clear Flag'}}
    </div>
    <div class="p-2 mb-2 rounded bg-muted-light">
      <textarea class="form-control mb-3" placeholder="your remarks" [(ngModel)]="comment"></textarea>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Upload file</label>
      </div>
    </div>
    <div class="border-top border-muted-light mb-2 mt-2"></div>
    <div class="">
      <button
        class="btn btn-sm btn-secondary mr-2"
        (click)="actOnFlag(t, f)">
        <fa-icon [icon]="icons.check"></fa-icon>
      </button>
      <button class="btn btn-sm btn-secondary" (click)="t.reporting = null">
        <fa-icon [icon]="icons.close"></fa-icon>
      </button>
    </div>
  </div>
</div>
