<div class="row">
  <div class="col-md-12">
    <div class="bg-white mb-4 rounded-large position-relative box-shadow">
      <div class="dcra-thickness-top"></div>
      <div class="position-relative">
        <div class="form-inline pl-3 pr-3 pt-3">
          <label
            class="my-1 mr-2 font-weight-bold text-dcra-dark"
            for="vs-company">Latest Financials (US$)</label> vs&nbsp;
          <select class="custom-select my-1 mr-sm-2" id="vs-company"
                  [(ngModel)]="selectedTablePeerID"
                  (change)="changeTablePeer()">
            <option [value]="undefined">none</option>
            <ng-container *ngFor="let peer of peers">
              <option [value]="peer.cif">{{peer.cif}}</option>
            </ng-container>
          </select>
          <span class="text-secondary" *ngIf="fiscalYear"><!-- | As of {{months[fiscalMonth - 1]}}, {{fiscalYear}}--></span>
        </div>
        <div class="p-4">
          <table class="table table-striped mb-0">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{company.cif}}</th>
              <th *ngIf="selectedTablePeer" scope="col">{{selectedTablePeer.cif}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let data of company.latestFinancials, let i = index">
              <tr>
                <td>{{data.name}}</td>
                <th class="text-dcra">{{data.value | number}}</th>
                <th *ngIf="selectedTablePeer" class="text-dcra-dark">
                  <ng-container *ngIf="selectedTablePeer.latestFinancials[i]">
                    {{selectedTablePeer.latestFinancials[i].value | number}}
                  </ng-container>
                </th>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="bg-white rounded-large position-relative box-shadow">
      <div class="dcra-thickness-top"></div>
      <div class="position-relative d-flex flex-column chart-container">
        <div class="pt-3 pl-3 pr-3" *ngIf="company.currentExposure">
          <div class="form-inline">
            <label
              class="my-1 mr-2 font-weight-bold text-dcra-dark"
              for="risk-exposure-quarter">
              Total Risk Exposure</label>
            <select
              class="custom-select my-1 mr-sm-2"
              id="risk-exposure-quarter" [(ngModel)]="quarterSelected">
              <ng-container *ngFor="let qtr of quarters">
                <option>{{qtr}}</option>
              </ng-container>
            </select>
          </div>
          <h1 class="font-weight-light text-dcra mb-4">{{company.currentExposure.totalExposure || 'none'}}</h1>
          <div class="border-top border-dcra mb-2"></div>
        </div>
        <div class="flex-1 position-relative" *ngIf="company.currentExposure">
          <div class="form-inline ml-3">
            <label class="my-1 mr-2 font-weight-bold text-dcra-dark">Related Exposure</label>
            <!--<select
              class="custom-select my-1 mr-sm-2" id="risk-exposure-iro"
              (change)="changeQuarter()"
              [(ngModel)]="quarterSelected">
              <ng-container *ngFor="let qtr of quarters">
                <option [value]="qtr">{{qtr}}</option>
              </ng-container>
            </select>-->
          </div>
          <ng-container *ngIf="company.currentExposure.totalExposure">
            <ng-container *ngIf="exposureNetwork">
              <app-cyto-network [elements]="exposureNetwork" [relFinder]="true"></app-cyto-network>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!company.currentExposure.totalExposure">
            <h2 class="text-muted-dark p-4">No current exposure.</h2>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="bg-white rounded-large position-relative box-shadow">
      <div class="dcra-thickness-top"></div>
      <div class="position-relative d-flex flex-column chart-container">
        <div class="form-inline pt-3 pl-3 pr-3">
          <label class="my-1 mr-2 font-weight-bold text-dcra-dark" for="financial-standing-peer">
            Financial Standing vs</label>
          <select class="custom-select my-1 mr-sm-2" id="financial-standing-peer"
                  [(ngModel)]="selectedSpiderPeerID"
                  (change)="changeSpiderPeer()">
            <option [value]="undefined" selected>none</option>
            <ng-container *ngFor="let peer of peers">
              <option [value]="peer.cif">{{peer.cif}}</option>
            </ng-container>
          </select>
        </div>
        <div class="flex-1 m-1">
          <ng-container *ngIf="financialStandingSpider">
            <app-plotly-visual [chart]="financialStandingSpider"></app-plotly-visual>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

