<p class="text-secondary mb-2">
  Latest: <b class="text-capitalize">{{months[latestMonth - 1]}} {{latestYear}}</b>
</p>
<h4 class="text-dcra-dark mb-4" *ngIf="text && text.summary">Summary</h4>
<div class="row">
  <div class="col-12">
    <div class="bg-white rounded-large p-3 position-relative box-shadow mb-4" *ngIf="text.summary">
      <div class="dcra-thickness-top"></div>
      <div class="position-relative">
        <div class="row">
          <div class="col-md-10">
            <div class="p-2">
              <h3 class="text-dark font-weight-light">{{text.summary}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class="text-dcra-dark mb-2" *ngIf="text && text.reasons && text.reasons.length">Reasons for Recommendation</h4>
<div class="row">
  <ng-container *ngFor="let reason of text.reasons, let i = index">
    <div class="col">
      <div class="bg-white rounded-large h-100 p-3 position-relative box-shadow" *ngIf="text.summary">
        <div class="dcra-thickness-top"></div>
        <div class="position-relative">
          <div class="row">
            <div class="col-1">
              <h2 class="text-dcra">{{i + 1}}</h2>
            </div>
            <div class="col-10">
              <p class="text-dark">{{reason}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="p-2"></div>
<hr class="border-groove">
<div class="row">
  <div class="col-4">
    <div class="types mr-3">
      <h4 class="text-dcra-dark mb-3">Financial Overview</h4>
      <!--<div class="border-top border-dcra-dark mb-4"></div>-->
      <div class="row">
        <!--<ng-container *ngFor="let type of types, let i = index">
          <div class="col-md-6">
            <div class="type-box bg-white mb-4 rounded-large box-shadow position-relative overflow-hidden">
              <div class="dcra-thickness-top"></div>
              <div class="d-flex flex-column h-100 position-relative">
                <div class="flex-1 d-flex flex-row hover-50" (click)="scrollTo(i)">
                  <div class="flex-1 p-4">
                    <h6 class="text-dcra-dark">{{type.name}} </h6></div>
                  <div class="p-4 text-dcra-dark">
                    <fa-icon [icon]="chevron.right"></fa-icon>
                  </div>
                </div>
                <div class="p-3">
                  <ng-container *ngFor="let bar of type.trend, let i = index">
                    <div
                      [ngbPopover]="bar.value + '%'" triggers="mouseenter:mouseleave" placement="right" container="body"
                      class="trend-bar m-2 pl-2 pt-1 pb-1 hover-50 rounded" [ngStyle]="{'width': (bar.value + '%') }"
                      [ngClass]="i ? 'bg-dcra-dark' : 'bg-dcra-dark'">
                      <span class="text-nowrap text-white blended">{{bar.key}}</span>
                    </div>
                  </ng-container>
                  <ng-template></ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-container>-->
        <ng-container *ngFor="let type of types, let i = index">
          <div class="col-md-6" *ngIf="type">
            <div class="bg-white border rounded-large p-3 mb-4 position-relative overflow-hidden"
                 (click)="scrollToCategory(i)">
              <div class="dcra-thickness-top" [ngStyle]="{'background': colors[i]}"></div>
              <div class="position-relative">
                <div class="m-2">
                  <h5 class="text-dcra">
                    {{type.name}}
                  </h5>
                  <div class="">
                    <ng-container *ngFor="let bar of ['up', 'down'], let i = index">
                      <ng-template #popList>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" *ngFor="let item of type.trend[bar]">
                            {{item}}
                          </li>
                        </ul>
                      </ng-template>
                      <div
                        [ngbPopover]="popList"
                        [popoverTitle]="bar === 'up' ? 'Increase in' : 'Decrease in'"
                        container="body"
                        triggers="mouseenter:mouseleave"
                        class="trend-bar mt-2 mb-2 p-1 hover-50 rounded-lg"
                        [ngStyle]="{'width': ((type.trend[bar].length * 2) + 'rem') }"
                        [ngClass]="i ? 'bg-dcra-dark' : 'bg-dcra'">
                        <span class="text-nowrap text-white ml-1"><fa-icon [icon]="chevron[bar]"></fa-icon>
                          {{type.trend[bar].length}}</span>
                      </div>
                    </ng-container>
                  </div>
                  <!--<h6 *ngIf="!breakdown.name || !breakdown.movement"
                      [ngbPopover]="pop" container="body" triggers="mouseenter:mouseleave"
                      [openDelay]="300"
                      class="text-dark font-weight-light m-2 hover-50">
                    <span [innerHTML]="breakdown.text"></span>
                  </h6>-->
                </div>
                <!--<ng-container>
                  <div class="chart-container" *ngIf="breakdown.chart">
                    <app-plotly-visual [chart]="breakdown.chart"></app-plotly-visual>
                  </div>
                </ng-container>-->
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <h4 class="text-dcra-dark mb-3">Benchmarks</h4>
      <!--<div class="border-top border-dcra-dark mb-4"></div>-->
      <div class="row">
        <ng-container *ngFor="let benchmark of benchmarks, let b = index">
          <div class="col-md-6" *ngIf="benchmark.chart">
            <div class="bg-white border rounded-large p-3 mb-4 position-relative overflow-hidden"
                 (click)="scrollToBenchmark(b)">
              <div class="dcra-thickness-top" [ngStyle]="{'background': colors[b]}"></div>
              <div class="position-relative">
                <div class="m-2">
                  <h5 class="text-dcra">
                    {{benchmark.name}}
                  </h5>
                  <div class="">
                    <ng-container *ngFor="let bar of ['up', 'down'], let i = index">
                      <ng-template #popList>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" *ngFor="let item of benchmarkTypes[b].trend[bar]">
                            {{item}}
                          </li>
                        </ul>
                      </ng-template>
                      <div
                        [ngbPopover]="popList"
                        [popoverTitle]="bar === 'up' ? 'Increase in' : 'Decrease in'"
                        container="body"
                        triggers="mouseenter:mouseleave"
                        class="trend-bar mt-2 mb-2 p-1 hover-50 rounded-lg"
                        [ngStyle]="{'width': ((benchmarkTypes[b].trend[bar].length * 2) + 'rem') }"
                        [ngClass]="i ? 'bg-dcra-dark' : 'bg-dcra'">
                        <span class="text-nowrap text-white ml-1"><fa-icon [icon]="chevron[bar]"></fa-icon>
                          {{benchmarkTypes[b].trend[bar].length}}</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="categories">
      <ng-container *ngFor="let category of categories">
        <div #categoryDivs class="">
          <div class="d-flex flex-row">
            <!--<div class="chevrons d-inline-block d-flex flex-column m-2">
              <ng-container *ngIf="category.change">
                <div *ngFor="let item of makeArray(category.change)" class="chevron position-relative">
                  <div [ngClass]="'text-' + (category.change > 0 ? 'success' : 'danger')">
                    <fa-icon [icon]="chevron[category.change > 0 ? 'up' : 'down']"></fa-icon>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!category.change">
                <div class="chevron flat position-relative">
                  <span class="text-warning"><fa-icon [icon]="chevron.flat"></fa-icon></span>
                </div>
              </ng-container>
            </div>-->
            <div class="flex-1">
              <h4 class="text-dcra-dark mb-3">
                {{category.name}}<span class="font-weight-light text-secondary"><!--| On a YoY basis--></span>
              </h4>
            </div>
            <div class="text-secondary p-2">
              <div class="collapse-rotate hover-50" [ngClass]="{'collapsed' : category.isCollapsed }"
                   (click)="collapse.toggle()" [attr.aria-expanded]="!category.isCollapsed">
                <fa-icon [icon]="faTimes"></fa-icon>
              </div>
            </div>
          </div>
          <!--<div
            class="border-bottom m-2"
            [ngClass]="'border-' + (category.change > 0 ? 'success' : !category.change ? 'warning' : 'danger')"></div>-->
          <!--<div class="border-top border-dcra m-2"></div>-->
          <div #collapse="ngbCollapse" [(ngbCollapse)]="category.isCollapsed">

            <p class="text-secondary">Y-O-Y % Change from Last Financial Year</p>
            <div class="row">
              <ng-container *ngFor="let breakdown of category.breakdown, let i = index">
                <div class="col min-width">
                  <div class="bg-white box-shadow rounded-large p-3 mb-4 position-relative overflow-hidden">
                    <div class="dcra-thickness-top" [ngStyle]="{'background': colors[i]}"></div>
                    <div class="position-relative">
                      <div class="m-2">
                        <h6 class="text-dark font-weight-light">
                    <span
                      [ngbPopover]="pop" container="body" triggers="mouseenter:mouseleave"
                      [openDelay]="300"
                      class="hover-50 mr-1 text-dcra font-weight-bold">{{breakdown.movement ? getMovementDescription(breakdown.movement) : 'No'}}</span>
                          <span
                            class="font-weight-normal">{{breakdown.movement ? breakdown.movement > 0 ? 'Increase' : 'Decrease' : 'Change'}}</span>
                          in <br>
                          <span class="font-weight-normal">{{breakdown.label || breakdown.name}}</span>
                        </h6>
                        <h2 class="font-weight-light text-dcra-dark">
                      <span
                        [ngClass]="breakdown.movement ? (breakdown.movement > 0 && !breakdown.negativeEffect) || (breakdown.movement < 0 && breakdown.negativeEffect) ? 'text-success' : 'text-danger' : 'text-warning'">
                        <fa-icon [icon]="chevron[breakdown.movement >= 0 ? 'up' : 'down']"></fa-icon>
                      </span>
                          {{(breakdown.movement || 0) | number: '1.2-2'}}%
                        </h2>
                        <!--<h6 *ngIf="!breakdown.name || !breakdown.movement"
                            [ngbPopover]="pop" container="body" triggers="mouseenter:mouseleave"
                            [openDelay]="300"
                            class="text-dark font-weight-light m-2 hover-50">
                          <span [innerHTML]="breakdown.text"></span>
                        </h6>-->
                      </div>
                      <!--<ng-container>
                        <div class="chart-container" *ngIf="breakdown.chart">
                          <app-plotly-visual [chart]="breakdown.chart"></app-plotly-visual>
                        </div>
                      </ng-container>-->
                    </div>
                  </div>
                </div>
                <ng-template #pop let-value='value'>
                  <table class="table table-bordered mb-1 mt-1">
                    <tbody>
                    <tr [ngClass]="{'font-weight-bold' : getMovementDescription(breakdown.movement) === 'Minor'}">
                      <td>Minor</td>
                      <td>0% - 20%</td>
                    </tr>
                    <tr [ngClass]="{'font-weight-bold' : getMovementDescription(breakdown.movement) === 'Major'}">
                      <td>Major</td>
                      <td>20% - 50%</td>
                    </tr>
                    <tr [ngClass]="{'font-weight-bold' : getMovementDescription(breakdown.movement) === 'Critical'}">
                      <td>Critical</td>
                      <td>More than 50%</td>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ng-container>
            </div>
            <p class="text-secondary">Y-O-Y Change over Past Three Financial Years</p>
            <div class="row">
              <div class="col-12">
                <div class="bg-white box-shadow rounded-large p-3 mb-4 position-relative overflow-hidden">
                  <div class="dcra-thickness-top"></div>
                  <div class="position-relative">
                    <ng-container *ngIf="category.chart">
                      <div class="chart-container">
                        <app-plotly-visual [chart]="category.chart"></app-plotly-visual>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <!--<div class="col-6">
                <div class="bg-white box-shadow rounded-large p-3 mb-4 position-relative overflow-hidden">
                  <div class="dcra-thickness-top"></div>
                  <div class="position-relative">
                    <ng-container *ngFor="let breakdown of category.breakdown">
                      <div class="m-2">
                        <h6 class="text-dark font-weight-light">
                          <span
                            [ngClass]="breakdown.movement ? (breakdown.movement > 0 && !breakdown.negativeEffect) || (breakdown.movement < 0 && breakdown.negativeEffect) ? 'text-success' : 'text-danger' : 'text-warning'">
                            <fa-icon [icon]="chevron[breakdown.movement >= 0 ? 'up' : 'down']"></fa-icon>
                          </span>
                          <span class="mr-1 text-dcra font-weight-bold">{{breakdown.movement | number: '1.2-2'}}%</span>
                          <span
                            class="font-weight-normal">{{breakdown.movement ? breakdown.movement > 0 ? 'Increase' : 'Decrease' : 'Change'}}</span>
                          in
                          <span class="font-weight-normal">{{breakdown.name}}</span>
                        </h6>
                        <h2 class="font-weight-light text-dcra-dark">

                        </h2>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
        <div class="border-groove mb-3"></div>
      </ng-container>
    </div>
    <div class="benchmark">
      <ng-container *ngFor="let bm of benchmarks">
        <div #benchmarkDivs class="">
          <div class="d-flex flex-row">
            <!--<div class="chevrons d-inline-block d-flex flex-column m-2">
              <ng-container *ngIf="category.change">
                <div *ngFor="let item of makeArray(category.change)" class="chevron position-relative">
                  <div [ngClass]="'text-' + (category.change > 0 ? 'success' : 'danger')">
                    <fa-icon [icon]="chevron[category.change > 0 ? 'up' : 'down']"></fa-icon>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!category.change">
                <div class="chevron flat position-relative">
                  <span class="text-warning"><fa-icon [icon]="chevron.flat"></fa-icon></span>
                </div>
              </ng-container>
            </div>-->
            <div class="flex-1">
              <h4 class="text-dcra-dark mb-3">
                {{bm.name}}<span class="font-weight-light text-secondary"><!-- | Timeline--></span>
              </h4>
            </div>
            <div class="text-secondary p-2">
              <div class="collapse-rotate hover-50" [ngClass]="{'collapsed' : bm.isCollapsed }"
                   (click)="collapse.toggle()" [attr.aria-expanded]="!bm.isCollapsed">
                <fa-icon [icon]="faTimes"></fa-icon>
              </div>
            </div>
          </div>
          <!--<div
            class="border-bottom m-2"
            [ngClass]="'border-' + (category.change > 0 ? 'success' : !category.change ? 'warning' : 'danger')"></div>-->
          <!--<div class="border-top border-dcra m-2"></div>-->
          <div #collapse="ngbCollapse" [(ngbCollapse)]="bm.isCollapsed">
            <p class="text-secondary">{{!bm.percentage ? 'Y-O-Y % Change' : 'Difference'}} from {{months[latestMonth-1]}} {{latestYear - 1}}</p>
            <div class="row">
              <ng-container *ngFor="let breakdown of bm.breakdown, let i = index">
                <div class="col min-width">
                  <div class="bg-white box-shadow rounded-large p-3 mb-4 position-relative overflow-hidden">
                    <div class="dcra-thickness-top" [ngStyle]="{'background': colors[i]}"></div>
                    <div class="position-relative">
                      <div class="m-2">
                        <h6 class="text-dark font-weight-light">
                    <span
                      [ngbPopover]="pop" container="body" triggers="mouseenter:mouseleave"
                      [openDelay]="300"
                      class="hover-50 mr-1 text-dcra font-weight-bold">{{breakdown.movement ? getMovementDescription(breakdown.movement) : 'No'}}</span>
                          <span
                            class="font-weight-normal">{{breakdown.movement ? breakdown.movement > 0 ? 'Increase' : 'Decrease' : 'Change'}}</span>
                          in <br/>
                          <span class="font-weight-normal">{{breakdown.label || breakdown.name}}</span>
                        </h6>
                        <h2 class="font-weight-light text-dcra-dark">
                      <span
                        [ngClass]="breakdown.movement ? (breakdown.movement > 0 && !breakdown.negativeEffect) || (breakdown.movement < 0 && breakdown.negativeEffect) ? 'text-success' : 'text-danger' : 'text-warning'">
                        <fa-icon [icon]="chevron[breakdown.movement >= 0 ? 'up' : 'down']"></fa-icon>
                      </span>
                          {{(breakdown.movement || 0) | number: '1.2-2'}}%
                        </h2>
                        <!--<h6 *ngIf="!breakdown.name || !breakdown.movement"
                            [ngbPopover]="pop" container="body" triggers="mouseenter:mouseleave"
                            [openDelay]="300"
                            class="text-dark font-weight-light m-2 hover-50">
                          <span [innerHTML]="breakdown.text"></span>
                        </h6>-->
                      </div>
                      <!--<ng-container>
                        <div class="chart-container" *ngIf="breakdown.chart">
                          <app-plotly-visual [chart]="breakdown.chart"></app-plotly-visual>
                        </div>
                      </ng-container>-->
                    </div>
                  </div>
                </div>
                <ng-template #pop let-value='value'>
                  <table class="table table-bordered mb-1 mt-1">
                    <tbody>
                    <tr [ngClass]="{'font-weight-bold' : getMovementDescription(breakdown.movement) === 'Minor'}">
                      <td>Minor</td>
                      <td>0% - 20%</td>
                    </tr>
                    <tr [ngClass]="{'font-weight-bold' : getMovementDescription(breakdown.movement) === 'Major'}">
                      <td>Major</td>
                      <td>20% - 50%</td>
                    </tr>
                    <tr [ngClass]="{'font-weight-bold' : getMovementDescription(breakdown.movement) === 'Critical'}">
                      <td>Critical</td>
                      <td>More than 50%</td>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ng-container>
            </div>
            <p class="text-secondary">
              Timeline over Past Three Years
              <ng-container *ngIf="bm.originAdjusted">(% of Initial Value)</ng-container></p>
            <div class="row">
              <div class="col-12">
                <div class="bg-white box-shadow rounded-large p-3 mb-4 position-relative overflow-hidden">
                  <div class="dcra-thickness-top"></div>
                  <div class="position-relative">
                    <ng-container *ngIf="bm.chart">
                      <div class="chart-container">
                        <app-plotly-visual [chart]="bm.chart"></app-plotly-visual>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <!--<div class="col-6">
                <div class="bg-white box-shadow rounded-large p-3 mb-4 position-relative overflow-hidden">
                  <div class="dcra-thickness-top"></div>
                  <div class="position-relative">
                    <ng-container *ngFor="let breakdown of category.breakdown">
                      <div class="m-2">
                        <h6 class="text-dark font-weight-light">
                          <span
                            [ngClass]="breakdown.movement ? (breakdown.movement > 0 && !breakdown.negativeEffect) || (breakdown.movement < 0 && breakdown.negativeEffect) ? 'text-success' : 'text-danger' : 'text-warning'">
                            <fa-icon [icon]="chevron[breakdown.movement >= 0 ? 'up' : 'down']"></fa-icon>
                          </span>
                          <span class="mr-1 text-dcra font-weight-bold">{{breakdown.movement | number: '1.2-2'}}%</span>
                          <span
                            class="font-weight-normal">{{breakdown.movement ? breakdown.movement > 0 ? 'Increase' : 'Decrease' : 'Change'}}</span>
                          in
                          <span class="font-weight-normal">{{breakdown.name}}</span>
                        </h6>
                        <h2 class="font-weight-light text-dcra-dark">

                        </h2>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
        <div class="border-groove mb-3"></div>
      </ng-container>
    </div>
  </div>
</div>
