.types {
  position: sticky;
  top: 0;
  max-height: 95vh;
  overflow-y: scroll;
  overflow-x: visible;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.type-box {
  // height: 12rem;
}
.chart-container {
  height: 16rem;
}
.chevrons {
  height: 1.5rem;
  width: 1.5rem;
  .chevron {
    font-size: 2.5rem;
    flex: 1 1;
    width: 100%;
    div {
      position: absolute;
      opacity: 0.6;
      top: 50%;
      margin-top: -0.3rem;
      transform: translateY(-50%);
    }
    &.flat {
      margin-top: -0.6rem;
      font-size: 1.5rem;
    }
  }
}
.neg-m {
  margin-left: -0.5rem;
  margin-right: -0.5rem
}
.blended {
  mix-blend-mode: exclusion;
}
.collapse-rotate {
  transform: rotate(0deg);
  transition: transform 0.3s;
  &.collapsed {
    transform: rotate(45deg);
  }
}
