<!--<div class="overflow-hidden abs-fill">
  [ngStyle]=containerCss
</div>-->
<div class="abs-fill">
  <div (window:resize)="onResize()" class="graph-container abs-fill" #container></div>
  <div class="form-inline layout-toggle">
    <label class="my-1 mr-2 text-secondary" for="layout-toggle">Layout: </label>
    <select
      id="layout-toggle"
      class="custom-select"
      [(ngModel)]="graphLayoutState"
      (change)="toggleLayout()">
      <option>auto</option>
      <option>manual</option>
    </select>
  </div>
</div>
