<div class="abs-fill bg-dcra-dark d-flex flex-column">
  <div class="d-flex flex-row position-relative box">
    <div class="xx left border-thick border-top border-left border-bottom border-dcra">
      <div class="dot position-absolute bg-dcra"></div>
    </div>
    <div class="xx center border-thick border-bottom border-dcra">
      <img class="logo" src="assets/images/latize_logo.png">
    </div>
    <div class="xx right border-thick border-top border-right border-bottom border-dcra">
      <div class="dot position-absolute bg-dcra"></div>
    </div>
      <div class="buttons d-flex flex-row p-3">
        <a class="d-block m-3 text-light flex-1 text-decoration-none" [href]="'dcra/'"><button class="btn btn-lg btn-block btn-dcra">DCRA</button></a>
        <a class="d-block m-3 text-light flex-1 text-decoration-none" [href]="'aml/'"><button class="btn btn-lg btn-block btn-dcra">AML</button></a>
      </div>
  </div>
</div>
