.xx.left {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  .dot {
    top: -0.5rem;
    right: -0.5rem;
  }
}
.xx.right {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  .dot {
    top: -0.5rem;
    left: -0.5rem;
  }
}
.box {
  width: 50rem;
  height: 20rem;
  margin: auto;
  .xx {
    flex: 1 1 0;
    position: relative;
  }
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}
.logo {
  margin-top: -10rem;
  height: 20rem;
}
.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
