<div class="" *ngIf="exposureData">
  <div class="mt-3">
    <div class="row">
      <ng-container *ngFor="let obj of exposureTop">
        <div [ngClass]="'col-sm'">
          <div class="bg-white rounded-large h-100 p-3 position-relative box-shadow">
            <div class="dcra-thickness-top"></div>
            <div class="position-relative">
              <div class="min-height-fix">
                <p class="text-dcra mb-1">{{obj.label}}</p>
              </div>
              <ng-container *ngIf="obj.type === 'date'">
                <h5 class="text-dark">{{exposureData[obj.key] | date:'mediumDate'}}</h5>
              </ng-container>
              <ng-container *ngIf="obj.type !== 'date'">
                <h5 class="text-dark">{{exposureData[obj.key]}}</h5>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="mb-4"></div>
    <div class="row">
      <div class="col-12">
        <div class="bg-white border rounded-large position-relative box-shadow p-3 mb-4">
          <div class="dcra-thickness-top"></div>
          <div class="position-relative">
            <h1 class="text-dcra font-weight-light mb-3">Details of Facilities</h1>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col" *ngFor="let col of facilitiesColumns">{{col.label}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of exposureData.detailsOfFacilities">
                <td *ngFor="let col of facilitiesColumns">
                  <ng-container *ngIf="col.key === 'Outstanding'">
                    {{row.Currency}}{{row.Outstanding_Amount | number}}
                  </ng-container>
                  <ng-container *ngIf="col.key !== 'Outstanding'">{{row[col.key]}}</ng-container>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="bg-white border rounded-large position-relative box-shadow p-3 mb-4">
          <div class="dcra-thickness-top"></div>
          <div class="position-relative">
            <p class="text-dcra mb-1">Total Exposure</p>
            <h1 class="text-dcra-dark font-weight-light mb-1">{{exposureData.totalExposure}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="exposureData.companyBackground">
      <ng-container *ngFor="let obj of backgroundBlocks">
        <div [ngClass]="'col-sm'">
          <div class="bg-white rounded-large h-100 p-3 position-relative box-shadow">
            <div class="dcra-thickness-top"></div>
            <div class="position-relative">
              <div class="min-height-fix">
                <p class="text-dcra mb-1">{{obj.label}}</p>
              </div>
              <ng-container *ngIf="obj.type === 'date'">
                <h5 class="text-dark">{{exposureData.companyBackground[obj.key] | date:'mediumDate'}}</h5>
              </ng-container>
              <ng-container *ngIf="obj.type !== 'date'">
                <h5 class="text-dark">{{exposureData.companyBackground[obj.key]}}</h5>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="mb-4"></div>
    <!--<div class="mt-4 mb-4 border-top border-dcra"></div>-->
    <div class="row" *ngIf="exposureData.companyBackground">
      <div class="col-12">
        <div class="bg-white border rounded-large position-relative box-shadow p-3 mb-4">
          <div class="dcra-thickness-top"></div>
          <div class="position-relative">
            <!--<h6
              class="text-secondary font-weight-bold">Company Background
            </h6>-->
            <h1 class="text-dcra font-weight-light mb-3">
              Company Background<!--Business Activities-->
              <a *ngIf="exposureData.companyBackground.url" target="_blank" class="text-dcra"
                 [href]="exposureData.companyBackground.url">
                <fa-icon [icon]="icons.url"></fa-icon>
              </a>
            </h1>
            <p class="multi-column-2">{{exposureData.companyBackground.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="mt-4 mb-4 border-top border-dcra"></div>-->
    <!--<div class="row">
      <div class="col" *ngFor="let obj of positions">
        <div
          class="bg-white rounded-large p-3 h-100 position-relative box-shadow">
          <div class="dcra-thickness-top"></div>
          <div class="position-relative">
            <div class="min-height-fix">
              <p class="text-dcra mb-1">{{obj.key}}</p>
            </div>
            <h5 class="text-dark">{{obj.label}}</h5>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>
