<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-muted-darker">#</th>
    <th class="text-muted-darker" *ngIf="selectable">
      <fa-icon [icon]="icons.selected"></fa-icon>
    </th>
    <ng-container *ngFor="let c of columns">
      <th (click)="onSort(c)" class="text-nowrap">
        <ng-container *ngIf="sortBy === c">
          <span class="text-dcra">
            <fa-icon [icon]="icons[sortAscending ? 'sortUp' : 'sortDn']"></fa-icon>
          </span>
        </ng-container>
        <ng-container *ngIf="sortBy !== c">
          <span class="text-muted-dark">
            <fa-icon [icon]="icons.noSort"></fa-icon>
          </span>
        </ng-container>
        {{(columnToLabel[c] || (c | titlecase))}}</th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of (transactions | slice: (page-1) * pageSize : page * pageSize), let i = index">
    <td class="text-muted-darker">{{i + 1}}</td>
    <td *ngIf="selectable">
      <span
        [ngClass]="t.selected ? 'text-dcra' : 'text-muted-dark'"
        class="hover-50 cursor-pointer" (click)="selectionChange(t)">
        <fa-icon [icon]="t.selected ? icons.selected : icons.notSelected"></fa-icon>
      </span>
    </td>
    <ng-container *ngFor="let c of columns">
      <td class="position-relative">
        <ng-container *ngIf="c === 'risk' || c === 'GINC' || c === 'DEVH'">
          <ng-container *ngIf="t.status !== 'error'">
            <ng-container *ngIf="t[c] < 0">
              <div class="position-absolute">
                <app-loader color="#27ABE2" [size]="2"></app-loader>
              </div>
            </ng-container>
            <ng-container
              *ngIf="t[c] >= 0">
            <span
              [ngClass]="{
              'text-dcra' : (t[c] == 0),
              'text-amber' : (t[c] > 0 && t[c] < 50),
              'text-danger' : (t[c] >= 50)
              }"
              class="font-weight-bold">{{t[c] | number: '1.0-2'}}%</span>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="t.status === 'error'">
            <button
              (click)="clickError(t)"
              class="btn btn-danger">ERROR</button>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="c === 'company'">
          <a
            [href]="'/aml/' + t.company.id"
            class="font-weight-bold text-dcra text-decoration-none hover-50 cursor-pointer text-nowrap">
            <fa-icon [icon]="icons.company" class="mr-2"></fa-icon>
            {{t.company.name}}
          </a>
        </ng-container>
        <ng-container *ngIf="c === 'minNo'">
          <ng-container *ngIf="selectable">
            <span
              (click)="selectionChange(t)"
              class="font-weight-bold text-dcra text-decoration-none hover-50 cursor-pointer text-nowrap">
              <fa-icon [icon]="icons.new" class="mr-2"></fa-icon>
              {{t.minNo}}
            </span>
          </ng-container>
          <ng-container *ngIf="!selectable">
            <a
              [href]="'/aml/' + t.company.id + '/' + t.minNo"
              class="font-weight-bold text-dcra text-decoration-none hover-50 cursor-pointer text-nowrap">
              <fa-icon [icon]="icons.new" class="mr-2"></fa-icon>
              {{t.minNo}}
            </a>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="c === 'amount'">
          <span class="">{{t.currency}} {{t.amount | number}}</span>
        </ng-container>
        <ng-container *ngIf="c === 'registeredDate'">
          <span class="">{{t.registeredDate | date: 'dd/MM/yy'}}</span>
        </ng-container>
        <ng-container *ngIf="c === 'goods'">
          <ng-container *ngFor="let g of t.goods">
            <ng-container *ngIf="g.description">
              <button class="btn btn-dcra-dark text-left">{{g.description}}</button>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="c === 'flags'">
          <ng-container *ngFor="let f of t.flags">
            <div
              container="body"
              ngbDropdown class="d-inline-block mr-2 mb-2" (openChange)="closeDropdown($event, t)">
              <button
                [ngClass]="'btn-' + (f.cleared ? 'success' : 'danger')"
                class="btn" id="flag-drop" ngbDropdownToggle>
                <span [ngClass]="{'strike-through': f.cleared}" [innerHTML]="f.key"></span>
              </button>
              <div
                ngbDropdownMenu
                aria-labelledby="flag-drop"
                class="bg-dark text-light p-3 rounded"
                style="width: 25rem"><!--min-width: 25rem; max-width: 60rem-->
                <ng-container *ngIf="!t.reporting">
                  <div class="form-row">
                    <div class="col-3">
                      <h5 class="text-warning">
                        <fa-icon [icon]="icons.dblUp"></fa-icon>
                        {{f.risk | number: '1.0-2'}}%
                      </h5>
                    </div>
                    <div class="col-9">
                      <h5>{{f.label}}</h5>
                      <ng-container *ngIf="f.breakdown">
                        <ng-container *ngFor="let br of f.breakdown">
                          <hr class="border-top border-muted-light mt-1 mb-1">
                          <div class="form-row">
                            <div class="col-3">
                              <p class="text-warning font-weight-bold mb-1">
                                <fa-icon [icon]="icons.dblUp"></fa-icon>
                                {{br.risk | number: '1.0-2'}}%
                              </p>
                            </div>
                            <div class="col-9">
                              <p class="mb-1">
                                <span class="">{{br.key}}</span>:
                                <span class="mb-1 font-weight-normal" [innerHTML]="br.label"></span>
                              </p>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container><!--
                                  <div class="form-row">
                                    <div class="col-3">
                                      <p class="text-warning font-weight-bold mb-1">
                                        <fa-icon [icon]="icons.up"></fa-icon>
                                        38%
                                      </p>
                                    </div>
                                    <div class="col-9">
                                      <p class="mb-1 text-muted-lighter">Qty of Goods</p>
                                    </div>
                                  </div>-->
                    </div>
                  </div>
                  <ng-container *ngIf="t.status === 'flagged' && !f.cleared">
                    <div class="border-top border-muted-light mb-2 mt-2"></div>
                    <div class="btns mb-2">
                      <button
                        class="btn btn-sm mr-2 btn-success" (click)="t.reporting = 'clear'">
                        <fa-icon [icon]="icons.thumbsUp"></fa-icon>
                        Clear Flag
                      </button>
                      <button
                        ngbPopover="block all transactions for this CCIF" triggers="mouseenter:mouseleave"
                        class="btn btn-sm mr-2 btn-danger" (click)="t.reporting = 'block'">
                        <fa-icon [icon]="icons.block"></fa-icon>
                        block All Transactions
                      </button>
                      <!--<button
                        class="btn btn-sm mr-2 btn-warning text-light">
                        <fa-icon [icon]="icons.saved"></fa-icon>
                      </button>-->
                    </div>
                  </ng-container>
                  <ng-container *ngFor="let comment of f.comments">
                    <div class="p-2 mb-2 rounded">
                      <div class="d-flex flex-row">
                        <p class="mb-0 mr-2">
                          <ng-container *ngIf="t.status === 'blocked'">
                            <fa-icon [icon]="icons.blocked"></fa-icon>
                          </ng-container>
                          <ng-container *ngIf="t.status !== 'blocked'">
                            <ng-container *ngIf="f.cleared">
                              <fa-icon [icon]="icons.cleared"></fa-icon>
                            </ng-container>
                          </ng-container>
                        </p>
                        <p class="mb-0 flex-1"><span class="text-muted-lighter">user1:</span> {{comment}}</p>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <div class="comment-box" *ngIf="t.reporting">
                  <div class="rounded mb-3 p-2"
                       [ngClass]="t.reporting === 'block' ? 'bg-danger' : 'bg-success'">
                    <fa-icon [icon]="t.reporting === 'block' ? icons.block : icons.thumbsUp"></fa-icon>
                    {{t.reporting === 'block' ? 'block All Transactions' : 'Clear Flag'}}
                  </div>
                  <div class="p-2 mb-2 rounded bg-muted-light">
                    <textarea class="form-control mb-3" placeholder="your remarks" [(ngModel)]="comment"></textarea>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Upload file</label>
                    </div>
                  </div>
                  <div class="border-top border-muted-light mb-2 mt-2"></div>
                  <div class="">
                    <button
                      class="btn btn-sm btn-secondary mr-2"
                      (click)="actOnFlag(t, f)">
                      <fa-icon [icon]="icons.check"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-secondary" (click)="t.reporting = null">
                      <fa-icon [icon]="icons.close"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="c === 'status'">
          <ng-container *ngIf="t.status">
            <h4 class="mb-0" [ngClass]="'text-' + (t.status === 'cleared' ? 'success' : 'danger')">
              <fa-icon [icon]="icons[t.status]"></fa-icon>
            </h4>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="c !== 'flags' && c !== 'risk' && c !== 'GINC' && c !== 'DEVH' && c !== 'company' && c !== 'goods' && c !== 'registeredDate' && c !== 'amount' && c !== 'minNo' && c !== 'status'">
          <span [innerHTML]="t[c]"></span>
        </ng-container>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="transactions.length" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>
  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
  </select>
</div>
