<div class="d-flex flex-column h-100 p-4">
  <div class="input">
    <div class="form-row">
      <div class="col-9">
        <h1 class="text-dcra">Upload File</h1>
      </div>
      <div class="col-3">
        <a class="text-decoration-none text-white" [href]="'assets/downloads/' + dataType + '_template.csv'"><button class="btn btn-block btn-dcra-dark">Download CSV Template</button></a>
      </div>
    </div>
    <div class="form-row">
      <ng-container *ngIf="dataType === 'company'">
        <div class="col-9">
          <div class="form-group">
            <!--<label for="companyName">Company Name</label>-->
            <input
              type="text" class="form-control" id="companyName" placeholder="Company Name" [(ngModel)]="companyName">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <!--          <label for="companyCIF">Company CIF</label>-->
            <input type="text" class="form-control" id="companyCIF" placeholder="Company CIF" [(ngModel)]="companyCIF">
          </div>
        </div>
      </ng-container>
      <div class="col-6">
        <div class="form-group border rounded p-1">
          <input type="file" class="form-control-file" id="import-file" (change)="getCSV($event)">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group form-check mt-2">
          <input type="checkbox" class="form-check-input" id="firstRowIsHeader" [(ngModel)]="firstRowIsHeader">
          <label class="form-check-label" for="firstRowIsHeader">First Row as Header?</label>
        </div>
      </div>
      <div class="col-3">
        <button
          [disabled]="!csvData"
          class="btn btn-dcra btn-block" type="button" (click)="parseFile()">Preview
        </button>
      </div>
    </div>
    <div class="border-top border-dcra mb-3"></div>
    <ng-container *ngIf="table">
      <div class="missing-columns border bg-light rounded p-2">
        <div class="d-inline-block m-1 pl-2 pr-2 pt-1 pb-1">Missing Columns:</div>
        <ng-container *ngIf="!remainingColumns || !remainingColumns.length">None</ng-container>
        <ng-container *ngFor="let col of remainingColumns">
          <div class="d-inline-block m-1 rounded pl-2 pr-2 pt-1 pb-1"
               [ngClass]="col.required ? 'bg-dcra-dark' : 'bg-dcra'">{{col.name}} <span *ngIf="col.required">*</span>
          </div>
        </ng-container>
      </div>
      <div class="mb-3">
        <small class="text-dcra-dark">Fields marked with * are mandatory</small>
      </div>
    </ng-container>
  </div>
  <div class="table flex-1 border bg-light rounded p-3 overflow-auto">
    <ng-container *ngIf="!showTablePreview">
      <h1 class="text-muted-dark text-center preview-placeholder ">
        <label class="hover-50" for="import-file">
          <fa-icon [icon]="icons.table"></fa-icon>
        </label>
      </h1>
    </ng-container>
    <ng-container *ngIf="showTablePreview">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let col of table.columns" [innerHTML]="col.label"></th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col" *ngFor="let col of table.columns">

            <div ngbDropdown class="d-inline-block" container="body">
              <button
                [ngClass]="col.id ? 'btn-dcra' : (remainingColumns.length ? 'btn-danger' : 'btn-secondary')"
                class="btn" id="column-type dropdown" ngbDropdownToggle>{{col.id || 'assign'}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <ng-container *ngFor="let opt of remainingColumns">
                  <button ngbDropdownItem (click)="assignColumn(col, opt.name)">{{opt.name}}</button>
                </ng-container>
              </div>
            </div>
            <!--<select class="custom-select" [(ngModel)]="col.type" (change)="assignColumn($event)">
              <ng-container *ngFor="let opt of remainingColumns">
                <option>{{opt.name}}</option>
              </ng-container>
            </select>-->
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of table.rows, let i = index">
          <th scope="row">{{i + 1}}</th>
          <td *ngFor="let col of table.columns" class="hover-50">
            <p class="mb-0">{{row[col.label]}}</p>
            <!--<input type="text" [innerHTML]="row[col]">-->
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
  <div class="submit">
    <div class="border-top border-dcra-dark mb-3"></div>
    <button
      (click)="importData()"
      [disabled]="!table || (dataType === 'company' && (!companyName || !companyCIF))|| !noneRequired()"
      class="btn btn-dcra-dark btn-block">U P L O A D
    </button>
  </div>
</div>
