<ng-container *ngFor="let prop of props">
  <div class="row">
    <div class="col-3">
      <p class="text-muted-lighter text-ellipsis">{{prop}}</p>
    </div>
    <div class="col-6">
      <ng-container *ngIf="prop === 'minNo' || prop === 'module'">
        <h6>{{transaction[prop]}}</h6>
      </ng-container>
      <ng-container *ngIf="prop === 'registeredDate'">
        <h6>{{transaction.registeredDate | date: 'dd-MM-YYYY'}}</h6>
      </ng-container>
      <ng-container
        *ngIf="prop === 'description' || prop === 'portOfLoading' || prop === 'portOfDischarge'">
        <h6>{{transaction.goods[0][prop]}}</h6>
      </ng-container>
      <ng-container *ngIf="prop === 'quantity' || prop === 'unitPrice'">
        <h6>{{transaction.goods[0][prop] | number: '1.0-2'}}</h6>
      </ng-container>
      <ng-container *ngIf="prop === 'amount'">
        <h6>{{transaction.currency}} {{transaction.amount | number: '1.0-2'}}</h6>
      </ng-container>
      <ng-container *ngIf="prop === 'risk'">
        <h6>{{transaction.risk | number: '1.0-2'}} %</h6>
      </ng-container>
    </div>
    <div class="col-3">
    </div>
  </div>
  <hr class="mt-0 mb-2 border-top border-muted-light">
</ng-container>

<ng-container *ngFor="let good of transaction.goods">
  <p class="text-muted-lighter text-ellipsis">goods</p>
  <h6>{{good.description}}</h6>
  <div class="form-row align-items-stretch">
    <ng-container *ngFor="let prop of goodsProps">
      <div class="col" *ngIf="good[prop]">
        <div class="rounded border border-muted-light p-2 mb-2">
          <p class="text-muted-lighter text-ellipsis mb-1">{{prop}}</p>
          <h6 *ngIf="prop === 'quantity' || prop === 'unitPrice'">{{good[prop] | number: '1.0-2'}}</h6>
          <h6 *ngIf="prop === 'portOfLoading' || prop === 'portOfDischarge'">{{good[prop]}}</h6>
        </div>
      </div>
    </ng-container>
  </div>
  <hr class="mt-0 mb-2 border-top border-muted-light">
</ng-container>

<p class="text-muted-lighter text-ellipsis">flags</p>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <ng-container *ngFor="let f of transaction.flags, let i = index">
    <li [ngbNavItem]="(i + 1)">
      <a ngbNavLink class="text-light">{{f.key}}</a>
      <ng-template ngbNavContent>
        <app-flag [t]="transaction" [f]="f" [full]="true"></app-flag>
      </ng-template>
    </li>
  </ng-container>
</ul>
<div [ngbNavOutlet]="nav" class="mt-3"></div>
