/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@media (min-width: 1200px) and (max-width: 1600px) {
  html {
    font-size: 12px !important;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  html {
    font-size: 8px !important;
  }
}

@media (min-width: 1600px) and (max-width: 2400px) {
  html {
    font-size: 16px !important;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 18px !important;
  }
}

.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
  font-family: Roboto, sans-serif !important;
}

body {
  font-family: Roboto, sans-serif;
}

.rounded-50 {
  border-radius: 50%;
}

.abs-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.w-100 {
  width: 100%;
}
.max-width {
  max-width: 2000px;
  margin: 0 auto;
}
.min-width {
  min-width: 0;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;;
}

.strike-through {
  text-decoration: line-through;
}

.flex-1 {
  flex: 1 1 0;
  overflow: hidden; /* wow! this worked magic */
}

.flex-2 {
  flex: 2 2 0;
  overflow: hidden; /* wow! this worked magic */
}
.flex-3 {
  flex: 3 3 0;
  overflow: hidden; /* wow! this worked magic */
}

.multi-column-2 {
  column-count: 2;
}

.hover-50 {
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}

a.hover-50 {
  text-decoration: none !important;
  text-transform: none;
}

.rounded-large {
  border-radius: 0.75rem !important;
}

.rounded-large-bottom {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-large-top {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1rem 2rem 1rem;
}
.box-shadow-darker {
  box-shadow: rgba(0, 0, 0, 0.25) 0 1rem 2rem 1rem;
}
.close {
  cursor: pointer;

  &.top {
    top: 1rem;
  }

  &.right {
    right: 1rem;
  }
}

.text-muted-dark {
  color: rgba(0, 0, 0, 0.1);
}

.text-muted-darker {
  color: rgba(0, 0, 0, 0.4);
}

.bg-muted-dark {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-muted-dark-deep {
  background-color: rgba(0, 0, 0, 0.2);
}
.bg-muted-darker {
   background-color: rgba(0, 0, 0, 0.2);
 }

.border-muted-dark {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.text-muted-light {
  color: rgba(255, 255, 255, 0.2);
}
.text-muted-lighter {
  color: rgba(255, 255, 255, 0.5);
}

.bg-muted-light {
  background-color: rgba(255, 255, 255, 0.2);
}

.border-muted-light {
  border-color: rgba(255, 255, 255, 0.2) !important;
}


// dcra color

.text-amber {
  color: #ff9900
}

.text-dcra {
  color: #27ABE2;
}

.text-dcra-dark {
  color: #29357F;
}

.bg-dcra {
  background-color: #27ABE2;
  color: #ffffff;
}

.bg-dcra-dark {
  background-color: #29357F;
  color: #ffffff;
}

.bg-dcra-gradient {
  background: linear-gradient(45deg, #29357F 0%, #27ABE2 50%);
}

.btn-dcra {
  background-color: #27ABE2;
  border-color: #27ABE2;
  color: #fff;

  &:hover:not(:disabled) {
    background-color: #29357F;
    border-color: #29357F;
    color: #fff;
  }

  &:hover:disabled {
    color: #fff !important;
  }
}

.btn.btn-dcra-dark {
  background-color: #29357F;
  border-color: #29357F;
  color: #fff;

  &:hover:not(:disabled) {
    background-color: #27ABE2;
    border-color: #27ABE2;
    color: #fff;
  }

  &:hover:disabled {
    color: #fff !important;
  }
}

.btn.btn-dcra-gradient {
  background: linear-gradient(45deg, #29357F 0%, #27ABE2 50%);
  border-color: #27ABE2;
  color: #fff;
  position: relative;

  &:after {
    transition: 0.5s opacity;
    content: ' ';
    background: linear-gradient(45deg, #29357F 50%, #27ABE2 100%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    border-color: #29357F;
    color: #fff;

    &:after {
      opacity: 0.5;
    }
  }
}
.border-groove {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.8);
}
.border-groove-dark {
  border-top: 1px solid rgba(0,0,0,0.8);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.border-dcra {
  border-color: #27ABE2 !important;
}

.border-dcra-dark {
  border-color: #29357F !important;
}

.border-dcra-gradient {
  position: relative;

  &:after {
    content: ' ';
    background: linear-gradient(to right, #29357F 0%, #27ABE2 50%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
  }
  &.thin {
    &:after {
      height: 1px;
    }
  }
}
.border-thick {
  border-width: 2px !important;
}
.border-thicker {
  border-width: 0.25rem !important;
}
.dcra-thickness-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0.25rem;
  overflow: visible;
  content: ' ';
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;
    background: linear-gradient(to right, #29357F 0%, #27ABE2 50%);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  &:after {
    content: ' ';
    background: #fff;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    position: absolute;
    left: 0;
    right: 0;
    height: 2rem;
    top:0.25rem;
  }
}
.dcra-thickness-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.25rem;
  overflow: visible;
  content: ' ';
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    background: linear-gradient(to right, #29357F 0%, #27ABE2 50%);
  }
  &:after {
    content: ' ';
    background: #fff;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    position: absolute;
    left: 0;
    right: 0;
    height: 2rem;
    bottom:0.25rem;
  }
}


.h-2 {
  height: 12rem
}

.h-3 {
  height: 18rem
}

.h-4 {
  height: 24rem
}

.h-5 {
  height: 30rem
}

.h-5-5 {
  height: 33rem
}

.h-6 {
  height: 36rem
}

.h-7 {
  height: 42rem
}

.h-7-5 {
  height: 45rem
}

.h-8 {
  height: 48rem
}

.h-9 {
  height: 54rem
}

.h-100 {
  height: 100%;
}
// simplebar

.simplebar-track {
  background: rgba(255,255,255,0.0) !important;
  .simplebar-scrollbar {
    &:before {
      background: rgba(0,0,0,0.5) !important;
    }
  }
}

// ngb pagination

.page-item.active .page-link {
  background-color: #27ABE2;
  border-color: #27ABE2;
}
.page-link {
  color: #27ABE2;
}


// nav

.nav-tabs.nav-dcra .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #29357F!important;
  color: #ffffff;
  border-color: #dee2e6 #dee2e6 #29357F!important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
