.border-dotted {
  border: 1px dotted rgba(0, 0, 0, 0.5)
}

.user {
  /*width: 2rem;
  height: 2rem;
  border-radius: 1rem;*/
  .user-icon {
    width: 4rem;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  position: absolute;
  top: 1rem;

  &.right {
    border-left: 1rem solid rgba(255, 255, 255, 1);
    left: 0;
  }

  &.left {
    border-right: 1rem solid rgba(255, 255, 255, 1);
    right: 0;
  }

}
.btn-group {
  .btn {
    width: 3rem;
  }
}
