<div class="d-flex flex-column p-3 h-100">
  <div class="flex-1 mt-3 mb-3 pl-3 pr-3 overflow-auto">
    <!--<div class="tools mb-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="keywords">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button">
            <fa-icon [icon]="icons.filter"></fa-icon>
          </button>
        </div>
      </div>
    </div>-->
    <p class="text-dcra-dark" *ngIf="override">Review History</p>
    <div class="mb-3 border-top border-dcra-dark"></div>
    <ng-container *ngFor="let comment of comments, let i = index">
      <!--<div
        [ngClass]="'border-' + (currentUser.userName === comment.userName ? 'dcra-dark' : 'dcra')"
        class="mb-3"></div>-->
      <div
        class="d-flex flex-row rounded mb-3">
        <div class="pr-4 position-relative" *ngIf="currentUser.email === comment.userName">
          <div class="d-inline-block user pt-1">
            <!--<fa-icon [icon]="icons.user"></fa-icon>-->
            <img [alt]="" class="user-icon" [src]="'assets/images/users/undefined.png'">
          </div>
          <div class="triangle left"></div>
        </div>
        <div class="flex-1">
          <div
            [ngClass]="currentUser.email === comment.userName ? 'border-light': 'border-dcra-dark'"
            class="pl-3 pr-3 pt-2 pb-2 rounded bg-white position-relative border-thick border-top box-shadow-darker">
            <label
              [ngClass]="'text-' + (currentUser.email === comment.userName ? 'dcra-dark' : 'dcra')"
              class="font-weight-bold mb-2">{{comment.userName || 'unknown user'}} |
              <span [innerHTML]="comment.ratingFrom"></span>
              <span *ngIf="comment.ratingTo"> > {{comment.ratingTo}}</span></label>
            <h5 class="font-weight-normal text-dark">{{comment.text}}</h5>
            <p class="text-muted mb-0">{{comment.date | date:'short' }}</p>
            <!--<div
              (click)="deleteComment(i)"
              *ngIf="currentUser.email === comment.userName"
              class="close position-absolute top right">
              <div class="small">
                <fa-icon [icon]="icons.delete"></fa-icon>
              </div>
            </div>-->
          </div>
        </div>
        <div class="pl-4 pr-2 position-relative" *ngIf="currentUser.email !== comment.userName">
          <div class="d-inline-block user pt-1">
            <!--<fa-icon [icon]="icons.user"></fa-icon>-->
            <img [alt]="" class="user-icon" [src]="'assets/images/users/undefined.png'">
          </div>
          <div class="triangle right"></div>
        </div>
      </div>
    </ng-container>
    <div class="d-flex flex-row" *ngIf="!override">
      <div class="pr-4">
        <div class="d-inline-block user pt-1">
          <!--<fa-icon [icon]="icons.user"></fa-icon>-->
          <img [alt]="" class="user-icon" [src]="'assets/images/users/undefined.png'">
        </div>
      </div>
      <div class="flex-1">
        <div class="p-2 border-dotted rounded mb-2 bg-white rounded">
          <label for="new-comment" class="text-dcra-dark font-weight-bold mb-2">{{currentUser.email}}
            <span></span></label>
          <textarea id="new-comment" class="form-control" [(ngModel)]="newComment"
                    placeholder="enter remark"></textarea>
        </div>
        <div class="btn-group">
          <button class="btn btn-dark" [disabled]="!newComment" (click)="addComment()">
            <fa-icon [icon]="icons.save"></fa-icon>
          </button>
          <button class="btn btn-dark" [disabled]="!newComment" (click)="cancelComment()">
            <fa-icon [icon]="icons.cancel"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
