<div class="d-flex flex-column p-3 h-100">
  <div class="flex-1">
    <ngx-graph
      layout="colaForceDirected"
      [links]="network.links"
      [nodes]="network.nodes"
      [center$]="center$"
      [zoomToFit$]="zoomToFit$">
      <ng-template #defsTemplate>
        <svg>
          <marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto"
                  fill="#ccc">
            <path d="M0,-5L10,0L0,5" class="arrow-head"/>
          </marker>
        </svg>
      </ng-template>

      <ng-template #nodeTemplate let-node>
        <svg class="node-svg hover-50"
             overflow="visible"
             (dblclick)="click(node)"
             [attr.height]="100"
             [attr.width]="300">
          <g class="node">
            <circle
              [attr.r]="node.data.size"
              [attr.cx]="50"
              [attr.cy]="50"
              [attr.stroke]="'#007bff'"
              [attr.fill]="getNodeType(node) === 'cluster' ? '#007bff' : '#ffffff'"
              stroke-width="2"
            />
            <g [attr.opacity]="0.5" [attr.transform]="'translate(40,40)'">
              <image [attr.width]="20" [attr.height]="20"
                     [attr.xlink:href]="'assets/images/icons/' + icons[getNodeClass(node) || 'generic'] + '.svg'"/>
            </g>
            <ng-container *ngIf="getNodeType(node) === 'source'">
              <text text-anchor="middle" [attr.x]="50" [attr.y]="100" font-weight="bold" font-size="1.2rem"
                    [innerHTML]="node.label">
              </text>
            </ng-container>
            <ng-container *ngIf="getNodeType(node) === 'cluster'">
              <text text-anchor="middle" [attr.x]="50" [attr.y]="100">{{getNodeRelation(node)}}
              </text>
              <text text-anchor="middle" [attr.x]="50" [attr.y]="120" font-weight="bold" [innerHTML]="node.label">
              </text>
            </ng-container>
            <ng-container *ngIf="getNodeType(node) === 'cluster-instance'">
              <text text-anchor="middle" [attr.x]="50" [attr.y]="90" font-weight="bold" [innerHTML]="node.label">
              </text>
            </ng-container>
            <ng-container *ngIf="getNodeType(node) === 'instance'">
              <text text-anchor="middle" [attr.x]="50" [attr.y]="90">
                {{getNodeRelation(node)}}
              </text>
              <text text-anchor="middle" [attr.x]="50" [attr.y]="110" font-weight="bold" [innerHTML]="node.label">
              </text>
            </ng-container>
          </g>
        </svg>
        <ng-template #linkTemplate let-link>
          <svg class="edge-svg">
            <g class="edge">
              <path class="line" stroke-width="2" marker-end="url(#arrow)" stroke="#ccc" color="#ccc"></path>
              <text class="edge-label" text-anchor="middle">
                <textPath class="text-path" [attr.href]="'#' + link.id"
                          [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                  {{ link.label }}
                </textPath>
              </text>
              <!--<text class="edge-label" text-anchor="middle">
                <textPath
                  class="text-path"
                  [attr.href]="'#' + link.id"
                  [style.dominant-baseline]="link.dominantBaseline"
                  startOffset="50%"
                >
                  {{link.label}}
                </textPath>
              </text>-->
            </g>
          </svg>
        </ng-template>
      </ng-template>
    </ngx-graph>
  </div>
</div>
