.component {
  padding: 2rem 4rem;
  .heading {
    h1 {
      button {
        margin-top: -1rem;
      }
    }
  }
}

.chart-container-small {
  height: 18rem;
}
.chart-container-large {
  height: 34rem;
}
