<div class="abs-fill d-flex flex-row overflow-hidden">
  <div class="h-100">
    <app-menu></app-menu>
  </div>
  <div class="flex-1 bg-light component overflow-y-auto">
    <div class="max-width">
      <div class="heading mb-3">
        <h1 class="text-dcra">
          <span class="font-weight-light text-dcra-dark">Early Warning Review / </span>{{company.cif}}
          <ng-container *ngIf="company.flagged">
            <fa-icon class="text-danger" [icon]="icons.flag"></fa-icon>
          </ng-container>
        </h1>
        <div class="border-groove mb-3"></div>
        <div>
          <a [href]="'cif/' + companyID">
            <button class="btn btn-dark mr-2">Grading
              <fa-icon [icon]="icons.grading"></fa-icon>
            </button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="border-groove mb-4"></div>
          <div class="">
            <!--<div class="row">
              <div class="col-12">
                <h1 class="text-dcra mb-3">Performance</h1>
              </div>
              <div class="col">
                <p class="mb-3">
                  <span class="text-danger"><fa-icon [icon]="icons.dn"></fa-icon></span> Decrease in Revenue for three
                  consecutive quarters.
                </p>
              </div>
              <div class="col">
                <p class="mb-3">
                  <span class="text-danger"><fa-icon [icon]="icons.dn"></fa-icon></span> Decrease in EBITDA for two
                  consecutive quarters.
                </p>
              </div>
              <div class="col">
                <p class="mb-3">
                  <span class="text-danger"><fa-icon [icon]="icons.dn"></fa-icon></span> Decrease in Cash-flow for three
                  consecutive quarters.
                </p>
              </div>
              <div class="col">
                <p class="mb-3">
                  <span class="text-warning"><fa-icon [icon]="icons.dn"></fa-icon></span> Recent downward trend in
                  Dow-Jones index.
                </p>
              </div>
            </div>-->

            <h1 class="text-dcra-dark mb-3">Performance</h1>
            <!--<div class="mb-4 row">
              <ng-container *ngFor="let pointer of [
              {category: 'Revenue', growth: -1, text: 'Decrease for three consecutive quarters.'},
              {category: 'EBITDA', growth: -1, text: 'Decrease for two consecutive quarters.'},
              {category: 'Cash-flow', growth: -1, text: 'Decrease for three consecutive quarters.'},
              {category: 'Dow-Jones index', growth: -1, text: 'Recent downward trend.'},
              ]">
                <div class="col">
                  <div class="bg-white rounded-large border-top border-danger pl-2 pt-3 pr-2 form-row box-shadow h-100 m-0 border-thick">
                    <div class="col-auto">
                      <fa-icon class="text-danger" [icon]="pointer.growth > 0 ? icons.up : icons.dn"></fa-icon>
                    </div>
                    <div class="col">
                      <h6 class="text-dcra mb-1">{{pointer.category}}</h6>
                      <p>{{pointer.text}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 rounded-large bg-white p-3 position-relative box-shadow">
            <div class="dcra-thickness-top"></div>
            <div class="d-flex flex-column chart-container-large position-relative">
              <div class="form-inline pt-3 pl-3 pr-3">
                <label class="my-1 mr-2 font-weight-bold text-dcra-dark">Company Financial Trend</label>
              </div>
              <div class="flex-1">
                <ng-container *ngIf="companyTrend">
                  <app-plotly-visual [chart]="companyTrend"></app-plotly-visual>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 rounded-large bg-white p-3 position-relative box-shadow">
            <div class="dcra-thickness-top"></div>
            <div class="d-flex flex-column chart-container-large position-relative">
              <div class="form-inline pt-3 pl-3 pr-3">
                <label class="my-1 mr-2 font-weight-bold text-dcra-dark">Industry Trend</label>
              </div>
              <div class="flex-1">
                <ng-container *ngIf="industrialTrend">
                  <app-plotly-visual [chart]="industrialTrend"></app-plotly-visual>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="border-groove mb-4"></div>
          <div class="">
            <h1 class="text-dcra-dark mb-3">Ratings</h1>
            <!--<div class="row mb-4">
              <ng-container *ngFor="let pointer of [
              {category: 'Grading', growth: -1, text: 'Decrease after three years.'},
              {category: 'Rating', growth: -1, text: 'Decrease for the  past two years..'},
              ]">
                <div class="col">
                  <div class="bg-white rounded-large border-top border-danger pl-2 pt-3 pr-2 form-row box-shadow h-100 m-0 border-thick">
                    <div class="col-auto">
                      <fa-icon class="text-danger" [icon]="pointer.growth > 0 ? icons.up : icons.dn"></fa-icon>
                    </div>
                    <div class="col">
                      <h6 class="text-dcra mb-1">{{pointer.category}}</h6>
                      <p>{{pointer.text}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 rounded-large bg-white p-3 position-relative box-shadow">
            <div class="dcra-thickness-top"></div>
            <div class="chart-container-small d-flex flex-column position-relative">
              <div class="form-inline pt-3 pl-3 pr-3">
                <label class="my-1 mr-2 font-weight-bold text-dcra-dark">Grading Trend</label>
              </div>
              <div class="chart-container flex-1">
                <ng-container *ngIf="gradingTrend">
                  <app-plotly-visual [chart]="gradingTrend"></app-plotly-visual>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 rounded-large bg-white p-3 position-relative box-shadow">
            <div class="dcra-thickness-top"></div>
            <div class="chart-container-small d-flex flex-column position-relative">
              <div class="form-inline pt-3 pl-3 pr-3">
                <label class="my-1 mr-2 font-weight-bold text-dcra-dark">Ratings Trend</label>
              </div>
              <div class="chart-container flex-1">
                <ng-container *ngIf="ratingTrend">
                  <app-plotly-visual [chart]="ratingTrend"></app-plotly-visual>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="border-groove mb-4"></div>
          <div class="">
            <h1 class="text-dcra-dark mb-3">Exposure</h1>
            <!--<div class="row mb-4">
              <ng-container *ngFor="let pointer of [
                    {category: 'Financial Exposure', growth: 0, text: 'Significant financial Exposure'},
                    {category: 'Financial Standing', growth: 0, text: 'Average financial standing compared to peers'},
                    ]">
                <div class="col">
                  <div
                    class="bg-white rounded-large border-top border-warning pl-2 pt-3 pr-2 form-row box-shadow h-100 m-0 border-thick">
                    <div class="col-auto">
                      <fa-icon class="text-warning" [icon]="pointer.growth > 0 ? icons.up : icons.dn"></fa-icon>
                    </div>
                    <div class="col">
                      <h6 class="text-dcra mb-1">{{pointer.category}}</h6>
                      <p>{{pointer.text}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>-->
            <!--<div class="row">
              <div class="col-3">
              </div>
              <div class="mb-4">
                <p class="mb-1">
                  <span class="text-warning"><fa-icon [icon]="icons.dn"></fa-icon></span> Significant existing financial
                  exposure.
                </p>
                <p class="mb-1">
                  <span class="text-warning"><fa-icon [icon]="icons.dn"></fa-icon></span> Lower financial standing
                  compared to peers.
                </p>
              </div>
            </div>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 rounded-large bg-white p-3 position-relative box-shadow">
            <div class="dcra-thickness-top"></div>
            <div class="chart-container-large position-relative d-flex flex-column" *ngIf="company.currentExposure">
              <div class="pt-3 pl-3 pr-3" *ngIf="company.currentExposure.totalExposure">
                <div class="form-inline">
                  <label class="my-1 mr-2 font-weight-bold text-dcra-dark">Total Risk
                    Exposure - {{company.currentExposure.latestYear}}</label>
                  <!--<select class="custom-select my-1 mr-sm-2" id="risk-exposure-quarter" [(ngModel)]="quarterSelected">
                    <ng-container *ngFor="let qtr of quarters">
                      <option [value]="qtr">{{qtr}}</option>
                    </ng-container>
                  </select>-->
                </div>
                <h1 class="font-weight-light text-dcra mb-4">
                  {{company.currentExposure.totalExposure}}</h1>
                <div class="border-top border-dcra mb-2"></div>
              </div>
              <div class="flex-1 chart-container position-relative">
                <div class="form-inline ml-3">
                  <label class="my-1 mr-2 font-weight-bold text-dcra-dark">Related
                    Exposure</label>
                  <!--<select
                    class="custom-select my-1 mr-sm-2" id="risk-exposure-iro"
                    (change)="changeQuarter()"
                    [(ngModel)]="quarterSelected">
                    <ng-container *ngFor="let qtr of quarters">
                      <option [value]="qtr">{{qtr}}</option>
                    </ng-container>
                  </select>-->
                </div>
                <!--<ng-container *ngIf="exposureNetwork">
                  <app-visual-network [network]="exposureNetwork"></app-visual-network>
                </ng-container>-->
                <ng-container *ngIf="exposureNetwork">
                  <app-cyto-network [elements]="exposureNetwork" [relFinder]="true"></app-cyto-network>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 rounded-large bg-white p-3 position-relative box-shadow">
            <div class="dcra-thickness-top"></div>
            <div class="chart-container-large position-relative d-flex flex-column">
              <div class="form-inline pt-3 pl-3 pr-3">
                <label class="my-1 mr-2 font-weight-bold text-dcra-dark" for="financial-standing-peer">Financial
                  Standing vs</label>
                <select class="custom-select my-1 mr-sm-2" id="financial-standing-peer"
                        [(ngModel)]="selectedPeerID"
                        (change)="changePeer()">
                  <option [value]="undefined" selected>none</option>
                  <ng-container *ngFor="let peer of peers">
                    <option [value]="peer.cif">{{peer.cif}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="chart-container flex-1">
                <ng-container *ngIf="financialStandingSpider">
                  <app-plotly-visual [chart]="financialStandingSpider"></app-plotly-visual>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="close position-absolute top right mr-2">
  <button class="btn btn-sm"
          (click)="resetData()"
          ngbPopover="reset data" triggers="mouseenter:mouseleave">
    <fa-icon [icon]="icons.undo"></fa-icon>
  </button>
</div>
